<deployerConfiguration>
  <Deployer>
    <!--<DeployConfiguration name="Dysk lokalny" strategy="VSoft.Algorithms.Engine.Deployer.Engine.DefaultDeployStrategy, VSoft.Algorithms.Engine"  remote="false" maxIterationCount="10000" throwExceptionIfNullOrEmptyStrings="true">
      <Module name="Model" type="VSoft.Algorithms.Engine.Calculations.AlgorithmVersionsContainer, VSoft.Algorithms.Engine" provider="DefaultLocaldiskProvider" />
      <Module name="TABLE" type="VSoft.Algorithms.Engine.Tables.TableVersionsContainer, VSoft.Algorithms.Engine" provider="TableLocaldiskProvider"/>
    </DeployConfiguration>-->
    <DeployConfiguration name="Środowisko obliczeniowe" strategy="VSoft.Algorithms.Engine.Deployer.Engine.WcfDeployStrategy, VSoft.Algorithms.Engine" remote="true" maxIterationCount="10000" throwExceptionIfNullOrEmptyStrings="true">
      <Module name="Model" type="VSoft.Algorithms.Engine.Calculations.AlgorithmVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" addConfig="" />
      <Module name="TABLE" type="VSoft.Algorithms.Engine.Tables.TableVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" addConfig="" />
    </DeployConfiguration>

    <DeployConfiguration name="Kalkulator lokalny" strategy="VSoft.Algorithms.Engine.Deployer.Engine.LocalCalculatorDeployStrategy, VSoft.Algorithms.Engine" remote="false" calculatorMode="true" maxIterationCount="10000" throwExceptionIfNullOrEmptyStrings="true">
      <Module name="Model" type="VSoft.Algorithms.Engine.Calculations.AlgorithmVersionsContainer, VSoft.Algorithms.Engine" provider="CalculatorLocalDiskProvieder" addConfig="" />
      <Module name="TABLE" type="VSoft.Algorithms.Engine.Tables.TableVersionsContainer, VSoft.Algorithms.Engine" provider="CalculatorLocalDiskProvieder" addConfig="" />
    </DeployConfiguration>
    
        <DeployConfiguration name="Kalkulator połączony ze środowiskiem obliczeniowym" strategy="VSoft.Algorithms.Engine.Deployer.Engine.WcfCalculatorDeployStrategy, VSoft.Algorithms.Engine" remote="true" calculatorMode="true" maxIterationCount="10000" throwExceptionIfNullOrEmptyStrings="true">
      <Module name="Model" type="VSoft.Algorithms.Engine.Calculations.AlgorithmVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" addConfig="" />
      <Module name="TABLE" type="VSoft.Algorithms.Engine.Tables.TableVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" addConfig="" />
    </DeployConfiguration>

    <DeployConfiguration name="Dodatek do aplikacji MS Excel 2010" strategy="VSoft.Algorithms.Engine.Deployer.Engine.WcfExcelAddinDeployStrategy, VSoft.Algorithms.Engine" remote="true" calculatorMode="true" maxIterationCount="10000" throwExceptionIfNullOrEmptyStrings="true">
      <Module name="Model" type="VSoft.Algorithms.Engine.Calculations.AlgorithmVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" addConfig="" />
      <Module name="TABLE" type="VSoft.Algorithms.Engine.Tables.TableVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" addConfig="" />
    </DeployConfiguration>

    <!-- POCZATEK KONFIGURACJI DLA TRYBU TESTOWEGO -->
    <DeployConfiguration name="TestModeConfiguration" visible="false" strategy="VSoft.Algorithms.Engine.Deployer.Engine.TestModeDeployStrategy, VSoft.Algorithms.Engine" remote="false" maxIterationCount="10000" throwExceptionIfNullOrEmptyStrings="true">
      <Module name="Model" type="VSoft.Algorithms.Engine.Calculations.AlgorithmVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeMemoryProvider" />
      <Module name="TABLE" type="VSoft.Algorithms.Engine.Tables.TableVersionsContainer, VSoft.Algorithms.Engine" provider="TestModeLocaldiskProvider" />
    </DeployConfiguration>
    <!-- KONIEC KONFIGURACJI DLA TRYBU TESTOWEGO -->

  </Deployer>
  <ProvidersConfiguration>
    <Provider name="TableLocaldiskProvider" type="VSoft.Algorithms.Engine.Deployer.DataDeployProvider.LocalDiskProvider, VSoft.Algorithms.Engine">
      <ProviderConfiguration path="e:\modeldesigner\zbudowane_tabele\" />
    </Provider>
    <Provider name="DefaultLocaldiskProvider" type="VSoft.Algorithms.Engine.Deployer.DataDeployProvider.LocalDiskProvider, VSoft.Algorithms.Engine">
      <ProviderConfiguration path="e:\modeldesigner\zbudowane_modele\" />
    </Provider>

    <Provider name="CalculatorLocalDiskProvieder" type="VSoft.Algorithms.Engine.Deployer.DataDeployProvider.LocalDiskProvider, VSoft.Algorithms.Engine">
      <ProviderConfiguration path=".\data\Calculator\" />
    </Provider>

    <Provider name="ExcelAddinLocalDiskProvieder" type="VSoft.Algorithms.Engine.Deployer.DataDeployProvider.LocalDiskProvider, VSoft.Algorithms.Engine">
      <ProviderConfiguration path=".\data\ExcelAddin\" />
    </Provider>

    <!-- POCZATEK KONFIGURACJI DLA TRYBU TESTOWEGO -->
    <Provider name="TestModeMemoryProvider" type="VSoft.Algorithms.Engine.Deployer.DataDeployProvider.MemoryDeployProvider, VSoft.Algorithms.Engine">
    </Provider>
    <Provider name="TestModeLocaldiskProvider" type="VSoft.Algorithms.Engine.Deployer.DataDeployProvider.LocalDiskProvider, VSoft.Algorithms.Engine">
      <ProviderConfiguration path=".\TempDll\" />
    </Provider>
    <!-- KONIEC KONFIGURACJI DLA TRYBU TESTOWEGO -->

  </ProvidersConfiguration>
</deployerConfiguration>