<!--
Określa timeout dla operacji dodawania nowego taska po stronie klienta
Livness - ilość nieprawidłowych prób wysłania heartbeatu.
IntervalInSeconds - interwał z jakim heartbeat jest wysyłany do Services.Host
TaskOwnershipTimeInSeconds - czas na jaki zakładany jest lock na taska
-->
<NLBHeartBeat RequestTimeoutInSeconds="30" Livness="3" IntervalInSeconds="10" TaskOwnershipTimeInSeconds="30" />