<WorkflowRuntime>
  <CommonParameters>
    <!-- Maksymalna ilość jednocześnie wykonywanych procesów na rdzeń (Scheduler workflow)-->
    <add name="maxWorkflowsPerCore" value="4" />
    <!-- Maksymalna ilość załadowanych na raz procesów na rdzeń (Scheduler tworzenia)-->
    <add name="maxLoadedWorkflowsPerCore" value="4" />
  </CommonParameters>
</WorkflowRuntime>