<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <add key="WORKFLOW_HOSTING_SERVICE_SYSTEM_NAME" value="{wfl.param.servicename}" />
  <add key="WORKFLOW_HOSTING_SERVICE_DISPLAY_NAME" value="{wfl.param.displayname}" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />
  <add key="EnvironmentName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />
  <add key="WebApplicationUrl" value="{common.publicurl.webui}" />

  <add key="VSFE.CONFIG_RECHECK_MODE" value="REPORT_USED_CONFIG_ONLY" />
  <add key="VSFE.NODE_NAME" value="{#VSoft.Framework.Environment.Environment.PhysicalMachineName}_WorkflowHost" />
  <add key="DefaultContext" value="Runtime" />
  <add key="VersionServerContext:UserIdOverride" value="{common.param.versionserver_userid}" />
  <add key="VersionServerContext:WorkspaceOverride" value="{common.param.versionserver_workspace}" />
</appSettings>