<bindings>
	<basicHttpBinding>
    <binding name="MzuServiceBinding">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
    </binding>
    <binding name="MzuServiceBindingSecure">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="Transport" />
    </binding>
    <binding name="basicHttpEntryPoint" />
    <binding name="basicHttpEntryPointSecure">
      <security mode="Transport" />
    </binding>
	</basicHttpBinding>
	<clearUsernameBinding>
		<binding name="VIPInternalClearUsernameBinding" messageVersion="Soap12" useHttpsTransport="false">
		</binding>
		<binding name="VIPInternalClearUsernameBindingSecure" messageVersion="Soap12" useHttpsTransport="true">
		</binding>
	</clearUsernameBinding>
  <wsHttpBinding>
    <binding name="TransformationServiceBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="4096" maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None">
        <message establishSecurityContext="false" />
      </security>
    </binding>
    <binding name="TransformationServiceBindingEncrypted" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="4096" maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="None" />
        <message establishSecurityContext="false" />
      </security>
    </binding>
  </wsHttpBinding>
</bindings>