<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="vsoft.framework.data" type="VSoft.Framework.Data.Configuration.DataContextSettings, VSoft.Framework.Data" />
    <section name="vsoft.framework.log" type="VSoft.Framework.Log.Configuration.XmlConfigurator, VSoft.Framework.Log" />
    <section name="credentialsValidationConfig" type="Account.ServiceLayer.Utils.CredentialsValidation.CredentialsConfig, VSoft.Identity.Provider.ServiceLayer" />
    <section name="PasswordHistoryConfig" type="Account.ServiceLayer.Utils.PasswordHistoryConfig, VSoft.Identity.Provider.ServiceLayer" />
    <section name="PasswordAuthenticationConfig" type="Account.ServiceLayer.Utils.PasswordAuthenticationConfig, VSoft.Identity.Provider.ServiceLayer" />
    <section name="WebControlConfig" type="VSoft.Framework.Web.Core.Configuration.WebControlConfig, VSoft.Framework.Web.Core" />
    <section name="APRedirects" type="VSoft.Framework.AuthorizationProviders.Impl.Web.Configuration.RedirectAuthorizationProviderConfigurationSection, VSoft.Framework.AuthorizationProviders.Impl.Web" />
    <section name="VExceptionHandler" type="VExceptionHandler.Configuration.ConfigReader, VSoft.Framework.AuthorizationProviders.Impl.Web" />
    <section name="WebLocalizationConfig" type="VSoft.Framework.Web.Core.Configuration.WebLocalizationConfig, VSoft.Framework.Web.Core" />
    <section name="IdentityProvider.Config" type="VSoft.Framework.AuthorizationProviders.VipConfiguration.Web.IPConfiguration, VSoft.Framework.AuthorizationProviders.VipConfiguration.Web" />
    <section name="menuService" type="VSoft.Identity.Provider.WebControls.Impl.Configuration.MenuServiceSettingsSection, VSoft.Identity.Provider.WebControls" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="attributeControlConfig" type="VSoft.Identity.Provider.WebControls.Attribute.AttributeConfiguration.AttributeControlConfig, VSoft.Identity.Provider.WebControls" />
    <section name="siteSettings" type="SiteConfiguration.SiteSettings, SiteConfiguration" />
    <!-- MAIS -->
    <sectionGroup name="ApplicationInModule">
      <section name="ProvidersForAppSecion" type="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Config.ProvidersForApp, VSoft.Identity.Provider.WebUI" />
      <section name="UrlToIdSection" type="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Config.AppUrlToId, VSoft.Identity.Provider.WebUI" />
    </sectionGroup>
    <section name="certForAppSettings" type="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Logic.CertificateProvider.CertificateHandlers.CertificatesHandler, VSoft.Identity.Provider.WebUI" />
    <section name="certForFedSettings" type="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Config.CertificatesForFedSettings, VSoft.Identity.Provider.WebUI" />
  </configSections>
  <nlog>
    <include file="${basedir}/Configuration/Environment/NLog.config" />
  </nlog>
  <vsoft.framework.data xmlns="http://vsoft.pl/framework/data/DataContextSettings.xsd">
    <contexts default="Default">
      <add name="Default" connectionStringName="Default" />
    </contexts>
  </vsoft.framework.data>
  <vsoft.framework.log configSource="Configuration\Environment\Logger.config" />
  <connectionStrings configSource="Configuration\Environment\ConnectionStrings.config" />
  <siteSettings configSource="Configuration\VIP\SiteSettings.config" />
  <PasswordHistoryConfig>
    <NumberOfPasswordsInHistory>10</NumberOfPasswordsInHistory>
  </PasswordHistoryConfig>
  <PasswordAuthenticationConfig>
    <DaysBeforeExpiration>30</DaysBeforeExpiration>
  </PasswordAuthenticationConfig>
  <WebControlConfig configSource="Configuration\Environment\WebControl.config" />
  <APRedirects>
    <LogOnApplicationUrl url="{common.publicurl.vip}VIP.SignOn" />
    <LogOffApplicationUrl url="{common.publicurl.vip}VIP.LogOut" />
    <ChangePasswordApplicationUrl url="{common.publicurl.vip}VIP.ChangePassword" />
  </APRedirects>
  <VExceptionHandler>
    <!--
    SIMPLE_MESSAGE = tylko komunikat "W celu uzyskania pomocy skontaktuj się z administratorem aplikacji."
    ONLY_MESSAGE = tylko komunikat błędu
    DETAILS = szczegółowe informacje o błędzie
    -->
    <ViewException mode="{vip.param.view_exception_mode}" />
    <!--ALWAYS = zawsze zapisuje do loggera
    BY_CONFIRMATION = pokazuje przycisk umożliwiający zalogowanie błędu w loggerze-->
    <SaveException mode="ALWAYS" />
    <AfterException redirectToPage="../../Default.aspx" />
  </VExceptionHandler>
  <WebLocalizationConfig>
    <Settings>
      <add type="JavaScript" charset="utf-8" />
      <add type="Page" charset="utf-8" />
    </Settings>
  </WebLocalizationConfig>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="SiteConfiguration.ServiceModel.ClearUsernameBinding.BindingExtenions.ClearUsernameCollectionElement, SiteConfiguration" />
      </bindingExtensions>
    </extensions>
    <!--
    container strips free memory
    https://stackoverflow.com/questions/15497296/iis-server-error-because-of-the-current-total-memory/17449862
    also Windows on Developer machines can fulfill memory to 100%
    -->
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <behaviors configSource="Configuration\Environment\Behaviors.config" />
    <bindings configSource="Configuration\Environment\Bindings.config" />
    <services configSource="Configuration\Environment\Services.config" />
  </system.serviceModel>
  <IdentityProvider.Config configSource="Configuration\VIP\Authentication.config" />
  <menuService defaultProvider="menuXMLFileProvider">
    <providers>
      <add name="menuXMLFileProvider" type="VSoft.Identity.Provider.WebControls.Impl.Configuration.Providers.XMLProvider.MenuXMLFileProvider, VSoft.Identity.Provider.WebControls" />
    </providers>
  </menuService>
  <system.web>
    <authentication mode="None" />
    <sessionState cookieName="session_id" timeout="30" mode="InProc" sqlConnectionString="sql-connection-string" allowCustomSqlDatabase="true" cookieless="false">
      <!--VCONFIG timeout = {www.param.session_timeout}-->
      <!--VCONFIG mode = {www.param.session_mode}-->
      <!--VCONFIG sqlConnectionString = {www.connection.sql_session_state}-->
    </sessionState>
    <customErrors mode="Off" defaultRedirect="~/Pages/ErrorView.aspx">
      <!--VCONFIG mode = {www.param.custom_errors}-->
    </customErrors>
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" />
    <httpHandlers>
      <clear />
    </httpHandlers>
    <membership defaultProvider="VIP">
      <providers>
        <clear />
        <add name="VIP" type="VSoft.Identity.Provider.WebUI.MAIS.Providers.InternalVIPMembershipProvider, VSoft.Identity.Provider.WebUI" authenticationEndpointName="WSHttpBinding_IAuthenticateService" accountEndpointName="WSHttpBinding_IAccountService" profileEndpointName="WSHttpBinding_IProfileService" applicationName="1" />
      </providers>
    </membership>
    <httpModules>
      <!--<remove name="SecurityExceptionModule" />-->
      <!--Jeśli chcemy aby podanie adresu przez niezalogowanego użytkownika przenosiło go na stronę logowania
       a następnie na żądaną stronę (bez iFrame'a!), należy zakomentować poniższy moduł i odkomentować moduł pod nim-->
      <add name="SecurityExceptionModule" type="VSoft.Framework.SecurityModules.VIP.SecurityExceptionModule, VSoft.Framework.SecurityModules" />
      <!--<add name="SecurityExceptionModule" type="UserIntegration.Web.SecurityExceptionModule, UserIntegration.Web" />-->
      <add name="ThreadAuthenticationModule" type="VSoft.Framework.SecurityModules.VIP.ThreadAuthenticationModule, VSoft.Framework.SecurityModules" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="DataContextModule" type="VSoft.Framework.Data.Web.DataContextModule, VSoft.Framework.Data" />
    </httpModules>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.8">
      <!--VCONFIG debug={www.param.compilation.debug}-->
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <!--<remove name="SecurityExceptionModule" />-->
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <!--Jeśli chcemy aby podanie adresu przez niezalogowanego użytkownika przenosiło go na stronę logowania
       a następnie na żądaną stronę (bez iFrame'a!), należy zakomentować poniższy moduł i odkomentować moduł pod nim-->
      <add name="SecurityExceptionModule" type="VSoft.Framework.SecurityModules.VIP.SecurityExceptionModule, VSoft.Framework.SecurityModules" />
      <add name="ThreadAuthenticationModule" type="VSoft.Framework.SecurityModules.VIP.ThreadAuthenticationModule, VSoft.Framework.SecurityModules" />
      <add name="DataContextModule" type="VSoft.Framework.Data.Web.DataContextModule, VSoft.Framework.Data" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name=".SignOn" verb="*" path="*.SignOn" preCondition="integratedMode" type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.FrontController, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
      <add name=".ChangeUnit" verb="*" path="*.ChangeUnit" type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.ChangeUnit, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
      <add name=".Menu" verb="*" path="*.Menu" type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.FrontController, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
      <add name=".ChangePassword" verb="*" path="*.ChangePassword" type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.ChangePassword, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
      <add name=".LogOut" verb="*" path="*.LogOut" type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.Logout, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
      <add name="svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!--Integrated Mode-->
      <add name="JS" verb="GET" path="*.js" type="VSoft.Framework.Web.HttpHandler.JavaScriptHandler, VSoft.Framework.Web" />
      <add name="CSS" verb="GET" path="*.css" type="VSoft.Framework.Web.HttpHandler.CssHandler, VSoft.Framework.Web" />
      <add name="GIF" verb="GET" path="*.gif" type="VSoft.Framework.Web.HttpHandler.ImageHandler, VSoft.Framework.Web" />
      <add name="PNG" verb="GET" path="*.png" type="VSoft.Framework.Web.HttpHandler.ImageHandler, VSoft.Framework.Web" />
      <add name="JPG" verb="GET" path="*.jpg" type="VSoft.Framework.Web.HttpHandler.ImageHandler, VSoft.Framework.Web" />
      <add name="JPEG" verb="GET" path="*.jpeg" type="VSoft.Framework.Web.HttpHandler.ImageHandler, VSoft.Framework.Web" />
      <add name="BMP" verb="GET" path="*.bmp" type="VSoft.Framework.Web.HttpHandler.ImageHandler, VSoft.Framework.Web" />
      <add name="FileUpload" verb="*" path="*FileUpload.ashx*" type="VSoft.Framework.Web.ControlImplementation.jQueryControls.FileUploadHandler, VSoft.Framework.Web" />
    </handlers>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="10485760" />
        <!-- 10MB -->
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="VIP.SignOn" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <certForAppSettings configSource="Configuration\VIP\CertForAppSettings.config" />
  <certForFedSettings configSource="Configuration\VIP\CertForFedSettings.config" />
  <ApplicationInModule>
    <ProvidersForAppSecion configSource="Configuration\VIP\ProvidersForAppSection.config" />
    <UrlToIdSection configSource="Configuration\VIP\UrlToIdSection.config" />
  </ApplicationInModule>
  <hibernate-configuration configSource="Configuration\Environment\NHibernate.config" />
  <appSettings configSource="Configuration\Environment\AppSettings.config" />
  <attributeControlConfig>
    <serviceBindingName>WSHttpBinding_IAttributeService</serviceBindingName>
    <mappings>
      <add type="Vip.DomainModel.Account.Account" guid="10372d95-1df8-428f-be03-ed9316e8a8e9" />
      <add type="Vip.DomainModel.Application.Application" guid="75b99bd5-7ea1-40bd-914a-cb3efefe90c7" />
      <add type="Hierarchy.DomainModel.Unit" guid="7504a83a-b4eb-11de-b742-53fe55d89593" />
    </mappings>
    <DirectoryExtensions>Extensions</DirectoryExtensions>
  </attributeControlConfig>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql.NpgsqlFactory" />
      <add name="Npgsql.NpgsqlFactory" invariant="Npgsql.NpgsqlFactory" type="Npgsql.NpgsqlFactory, Npgsql" description=".NET Framework Data Provider for Npgsql.NpgsqlFactory" />
    </DbProviderFactories>
  </system.data>
</configuration>