<IdentityProvider.Config firstPage="Default.aspx" notAuthorizeAction="RightUnavailable.aspx" logoutPage="VIP.SignOn">
  <IdentityProvider url="{common.publicurl.vip}SignOn.ashx" />
  <UserCollector container="SESSION" mode="TRANSPARENT" />
  <Readers>
    <Role type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.UserCollector.Readers.Roles.DefaultRoleReader, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
    <UserAccount type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.UserCollector.Readers.Account.DeafultAccountReader, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
    <Hierarchy type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.UserCollector.Readers.Units.DeafultUnitReader, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
    <Profile type="VSoft.Framework.AuthorizationProviders.VipImpl.Web.UserCollector.Readers.Profile.DefaultProfileReader, VSoft.Framework.AuthorizationProviders.VipImpl.Web" />
  </Readers>
  <Request certPath="{#System.Web.HttpRuntime.AppDomainAppPath}Certificates\SP.pfx" certPwd="" />
  <Response certPath="{#System.Web.HttpRuntime.AppDomainAppPath}Certificates\vip.cer" />
</IdentityProvider.Config>