<ProvidersForAppSecion>
  <Applications>
    <App name="1"><!-- atrybut name określa ID aplikacji którą autoryzują providery (ID z tabeli Application) -->
      <Providers>
        <Provider name="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Logic.ClaimProvider.RolesClaimProvider"></Provider>
        <Provider name="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Logic.ClaimProvider.UserAccountClaimProvider"></Provider>
        <Provider name="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Logic.ClaimProvider.ProfileClaimProvider"></Provider>
        <Provider name="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Logic.ClaimProvider.RoleBasedRightsClaimProvider"></Provider>
		    <Provider name="VSoft.Framework.AuthorizationProviders.VIPProvider.Web.Logic.ClaimProvider.UnitOfHierarchyClaimProvider"></Provider>
      </Providers>
    </App>
  </Applications>
</ProvidersForAppSecion>