<!--UWAGA! Wpisy poniżej są podmieniane przez konfigurację techniczną zgodnie z komentarzami w dalszych linijkach!-->
<siteSettings guiBaseAddress="http://localhost/VIP/" servicesBaseAddress="http://localhost/VIP/Services/">
  <!--VCONFIG guiBaseAddress = {common.publicurl.vip}-->
  <!--VCONFIG servicesBaseAddress = {common.url.vip}Services/-->
  <modules>
    <add name="Account" guiAddress="Account" servicesAddress="Account" endpointConfName="WSHttpBinding_IAccountService" />
    <add name="Application" guiAddress="Application" servicesAddress="Application" />
    <add name="Hierarchy" guiAddress="Hierarchy" servicesAddress="Hierarchy" endpointConfName="WSHttpBinding_IHierarchyServices" />
    <add name="HierarchyToApplication" guiAddress="HierarchyToApplication" servicesAddress="HierarchyToApplication" endpointConfName="WSHttpBinding_IHierarchyToApplicationIntegrationServices" />
    <add name="Profile" guiAddress="Role" servicesAddress="Role" endpointConfName="WSHttpBinding_IProfileService" />
    <add name="ProfileToHierarchy" guiAddress="ProfileToHierarchy" servicesAddress="ProfileToHierarchy" endpointConfName="WSHttpBinding_IProfileToHierarchyServices" />
    <add name="Role" guiAddress="Role" servicesAddress="Role" endpointConfName="WSHttpBinding_IRoleService" />
  </modules>
</siteSettings>