<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- This section is redundant and may conflict with a section added to machine.config by the Oracle Data Access Client. Use only when needed -->
    <!-- <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" /> -->
    <section name="vsoft.framework.log" type="VSoft.Framework.Log.Configuration.XmlConfigurator, VSoft.Framework.Log" />
  </configSections>
  <nlog>
    <include file="${basedir}/Configuration/Environment/NLog.config" />
  </nlog>
  <!--UWAGA: zwykle sekcje appSettings, connectionStrings, serviceModel powinny być podlinkowane z plików z podkatalogu .\Config\ -->
  <appSettings file="Configuration\Environment\AppSettings.config">
    <add key="VSFE.NODE_NAME" value="{#VSoft.Framework.Environment.Environment.PhysicalMachineName}_TransformationServicesHost" />
    <!-- Konfiguracja pakietów, klucze postaci: PackageName:blockName.ParamName, można używać {odwołań} do innych kluczy konfiguracji -->
    <add key="RequestTest1.vts2p:out CSV.FilePath" value="output.txt" />
    <!-- ... -->
    <!-- Nazwa usługi w SCM -->
    <add key="serviceName" value="TransformationService" />
    <!-- Nazwa wyświetlana usługi -->
    <add key="displayName" value="VSoft Transformation Services Host" />
    <!-- Ścieżka do katalogu z pakietami (względna, rozwiązywana od katalogu binarek, można używać {odwołań} do innych kluczy konfiguracji) -->
    <add key="PackagesPath" value="vs:///" />
    <!-- Włączenie tej opcji w wersji dla platformy architekt, spowoduje  że jako usługi zostaną opublikowane tylko te pakiety, które mają 
         w serwerze wersji pliki oznaczone metadanymi o kluczu 'Published' (pliki można oznaczyć klikając odpowiednią 
         opcję w menu kontekstowym w panelu serwera wersji w architekt Studio).
    -->
    <add key="architekt.UseOnlyVersionsWithPublishedMetadata" value="true" />
    <!-- Wyrażenie regularce filtrujące pakiety serwisowe spośród wielu innych. Przyspiesza start omijając analizę niepotrzebnych XMLi. -->
    <add key="PackagesFilterRegex" value="" />
    <!-- Czy pozwalać na duplikację nazw elementów żądań i/lub odpowiedzi. Przydatne w środowiskach DEMO, niebezpieczne na PROD -->
    <add key="AllowDuplicateMessageRoots" value="false" />
    <!-- Czy automatycznie doklejać kolejne numery do zduplikowanych nazw elementów żądań i/lub odpowiedzi. Przydatne w środowiskach DEMO, niebezpieczne na PROD -->
    <add key="SuffixDuplicateMessageRoots" value="false" />
    <!-- Czy startować wszystkie dostępne pakiety na starcie programu? Jeśli nie, będą uruchamiane dopiero przy pierwszym żądaniu -->
    <add key="AutoStartServicePackages" value="true" />
    <!-- Opóźnienie sprawdzenia zmian plików w sekundach, brak wpisu lub wartość mniejsza lub równa 0 wyłącza automatyczny restart -->
    <add key="FileWatchdogDelay" value="0" />
    <add key="RunnerLogIntervalH" value="1" />
    <add key="IgnoreInvalidPackages" value="false" />
    <!-- Prefiks dodawany do adresów URL pakietów przetwarzania przy hostowaniu serwisów, żeby umożliwić zbiorową konfigurację urlacl -->
    <add key="srvDebugPrefix" value="vts" />
    <add key="NLOG_COMPONENT_NAME" value="TransformationServicesHost" />
    <!-- Czy pakiety usługowe mają startować równolegle? -->
    <add key="ParallelStartup" value="0" />
  </appSettings>
  <connectionStrings configSource="Configuration\Environment\ConnectionStrings.config" />
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="VSoft.archITekt.Core.ServiceModel.ClearUsernameBinding.BindingExtenions.ClearUsernameCollectionElement, VSoft.archITekt.Core" />
      </bindingExtensions>
    </extensions>
    <bindings configSource="Configuration\Environment\Bindings.config" />
    <client configSource="Configuration\Environment\Client.config" />
    <behaviors configSource="Configuration\Environment\Behaviors.config" />
    <services configSource="Configuration\Environment\Services.config" />
  </system.serviceModel>
  <runtime>
    <gcServer enabled="true" />
    <enforceFIPSPolicy enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.24.4.0" newVersion="3.24.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.0" newVersion="1.3.6.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Diagnostics.NETCore.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.2.8.47801" newVersion="0.2.8.47801" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.33.0.0" newVersion="0.33.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.2.0" newVersion="0.7.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--<system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql.NpgsqlFactory" />
      <add name="Npgsql.NpgsqlFactory" invariant="Npgsql.NpgsqlFactory" description=".NET Framework Data Provider for Npgsql.NpgsqlFactory" type="Npgsql.NpgsqlFactory, Npgsql" />
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" description=".NET Framework Data Provider for MySql" />
    </DbProviderFactories>
  </system.data>
  <!-- This section is redundant and may conflict with a section added to machine.config by the Oracle Data Access Client. Use only when needed -->
  <!-- 
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  -->
  <vsoft.framework.log type="VSoft.Framework.Log.NLog.NLogLogger, VSoft.Framework.Log.NLog">
    <SourceName>TransformationServicesHost</SourceName>
  </vsoft.framework.log>
</configuration>