<behaviors>
  <serviceBehaviors>
    <behavior name="defaultServiceBehavior">
      <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
    </behavior>
    <behavior name="usernamePasswordServiceBehavior">
      <serviceDebug includeExceptionDetailInFaults="false">
        <!--VCONFIG includeExceptionDetailInFaults = {servicehost.param.include_exception_detail_in_faults}-->
      </serviceDebug>
      <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="VSoft.archITekt.Core.Security.AuthorizationManagers.OwinAuthorizationManager, VSoft.archITekt.Core" />
      <serviceCredentials>
        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="VSoft.archITekt.Core.Security.AuthorizationManagers.OwinIdentityValidator, VSoft.archITekt.Core" />
      </serviceCredentials>
    </behavior>
    <behavior name="internalServiceBehavior">
      <serviceDebug includeExceptionDetailInFaults="false">
        <!--VCONFIG includeExceptionDetailInFaults = {servicehost.param.include_exception_detail_in_faults}-->
      </serviceDebug>
      <serviceAuthorization principalPermissionMode="None" />
      <serviceCredentials>
        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="VSoft.archITekt.Core.Security.AuthorizationManagers.InternalServiceIdentityValidator, VSoft.archITekt.Core" />
      </serviceCredentials>
    </behavior>
    <behavior name="internalCertificateServiceBehavior">
      <serviceDebug includeExceptionDetailInFaults="false">
        <!--VCONFIG includeExceptionDetailInFaults = {servicehost.param.include_exception_detail_in_faults}-->
      </serviceDebug>
      <serviceAuthorization principalPermissionMode="None" />
      <serviceCredentials>
        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="VSoft.archITekt.Core.Security.AuthorizationManagers.InternalServiceIdentityValidator, VSoft.archITekt.Core" />
        <serviceCertificate x509FindType="FindBySubjectName" findValue="" storeLocation="LocalMachine" storeName="My">
          <!--VCONFIG x509FindType = {servicehost.cert.findtype}-->
          <!--VCONFIG findValue = {servicehost.cert.findvalue}-->
          <!--VCONFIG storeLocation = {servicehost.cert.storelocation}-->
          <!--VCONFIG storeName = {servicehost.cert.storename}-->
        </serviceCertificate>
      </serviceCredentials>
    </behavior>
    <behavior name="certificateServiceBehavior">
      <serviceDebug includeExceptionDetailInFaults="false">
        <!--VCONFIG includeExceptionDetailInFaults = {servicehost.param.include_exception_detail_in_faults}-->
      </serviceDebug>
      <serviceAuthorization principalPermissionMode="Custom" serviceAuthorizationManagerType="VSoft.archITekt.Core.Security.AuthorizationManagers.OwinAuthorizationManager, VSoft.archITekt.Core" />
      <serviceCredentials>
        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="VSoft.archITekt.Core.Security.AuthorizationManagers.OwinIdentityValidator, VSoft.archITekt.Core" />
        <!--poniżej ustawić parametry certyfikatu, którym serwer będzie podpisywał wiadomości. Taki sam certyfikat musi być ustawiony po stronie klienta-->
        <serviceCertificate x509FindType="FindBySubjectName" findValue="" storeLocation="LocalMachine" storeName="My">
          <!--VCONFIG x509FindType = {servicehost.cert.findtype}-->
          <!--VCONFIG findValue = {servicehost.cert.findvalue}-->
          <!--VCONFIG storeLocation = {servicehost.cert.storelocation}-->
          <!--VCONFIG storeName = {servicehost.cert.storename}-->
        </serviceCertificate>
      </serviceCredentials>
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
    <behavior name="defaultEndpointBehavior">
      <dataContractSerializer maxItemsInObjectGraph="67108864" />
      <versionServerContextEndpointBehavior />
    </behavior>
    <behavior name="versionServerEndpointBehavior">
      <dataContractSerializer maxItemsInObjectGraph="67108864" />
      <versionServerServiceInstanceEndpointBehavior innerVersionServer="VersionServer" />
      <versionServerContextEndpointBehavior />
    </behavior>
  </endpointBehaviors>
</behaviors>