<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <add key="EnvironmentName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />
  
	<add key="RefreshTimeSec" value="2" />
	<add key="WorkThreads" value="3" />
	<add key="TasksTableName" value="TASKS" />
  <add key="TasksHierarchyPath" value="vs:///Hierarchy/Main.batch" />
  <add key="Executor" value="" />

  <add key="LogDir" value="{common.param.logs_folder}\TransformationServices" />
  <add key="LOGS" value="{common.param.logs_folder}\TransformationServices" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />
  <add key="VTSAdditionalLogToFile" value="False">
    <!-- Dodatkowe logi VTS duplikowałyby standardowe wpisy z NLog.
    Uwaga! Jeżeli VSoft.Framework.Log.Logger.Current jest typu DebugLogger,
    VTS rzuca wyjątkiem i może zamknąć aplikację.-->
  </add>

  <add key="TASKS" value="vs:///Hierarchy/" />
  <add key="SHARE_FOLDER" value="{common.param.share_folder}" />
  <!--<add key="DATA" value="D:\Data" />-->

  <add key="EXTRA_PLUGINS" value="VTS2.Profiles.VDS; VTS2.Profiles.ModelDesigner; VTS2.Profiles.FwdkBlocks; VTS2.Profiles.VBP; VTS2.Profiles.VBP.Base; VTS2.Profiles.SendingModule; VSoft.archITekt.Sdo.Core; VTS2.Profiles.MongoDB" />
  <add key="DATABASE_SCHEMA_DIR" value="" />
  <add key="DefaultContext" value="Runtime" />
	<add key="VSoft.Framework.Serialization.OptimizeXml" value="true" />
	<add key="VMDWithoutServices" value="true" />
  <add key="VMDFacadeMode" value="Local" />

    <!-- Id aplikacji w module powiadomień -->
    <add key="SendingModule.ApplicationId" value="1" />

	<!-- Z ktorego connection stringa czytac slowniki z DIC_ITEM (provider wg ADO.NET, np. System.Data.SqlClient) -->
	<add key="VsfDictionaryLoader" value="DICTIONARIES" />

   <!--Umożliwia testowanie pakietów przetwarzania z lokalnymi zmianami i niezakończoną edycją-->
   <!--W przypadku plikowego serwera wersji nie ma sensu-->
   <!--<add key="VersionServerContext:UserIdOverride" value=""/>
   <add key="VersionServerContext:WorkspaceOverride" value=""/>-->

   <!-- Ustawienia serwera pocztowego SMTP dla bloczka SendMailBlock.
        Szczegółowy opis dopuszczalnych wartości znajduje się
        w "Dokumentacji wdrożeniowej". -->
  <add key="smtpserver" value="{common.param.smtp_server}" />
  <add key="smtpport" value="{common.param.smtp_port}" />
  <add key="smtpsecurity" value="{common.param.smtp_security}" />
  <add key="smtp_ignore_certificate_errors" value="{common.param.smtp_ignore_certificate_errors}" />
  <add key="smtp_authentication" value="{common.param.smtp_authentication}" />
  <add key="smtpusername" value="{common.param.smtp_username}" />
  <add key="smtppassword" value="{common.param.smtp_password}" />
  <add key="VersionServerContext:UserIdOverride" value="{common.param.versionserver_userid}" />
  <add key="VersionServerContext:WorkspaceOverride" value="{common.param.versionserver_workspace}" />
  <add key="LICENSE_SERVICE" value="" />
  <add key="serviceWcfUrl" value="{scheduler.url.base}" />
  <add key="wcfSecurityClientCredentialType" value="None" />
  <!-- service = generuj dokumenty zdalnie w usłudze VDS, inna wartość = uruchamiaj VDS (word, libre.. ) lokalnie -->
  <add key="VDSGenerationMode" value="service" />
  <add key="ServiceHostPassword" value="{common.param.servicehost_password}" />
  <add key="ServiceHostUser" value="{common.param.servicehost_user}" />
</appSettings>