<bindings>
  <wsHttpBinding>
    <binding name="VServiceHostBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
      <!-- 
      maxBytesPerRead="4096" - domyślna, chroni przed DDOS
      maxDepth="32" - domyślna
      -->
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="4096" maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="None">
        <message establishSecurityContext="false" />
      </security>
    </binding>
    <binding name="VServiceHostBindingSecure" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
      <!-- 
      maxBytesPerRead="4096" - domyślna, chroni przed DDOS
      maxDepth="32" - domyślna
      -->
      <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxBytesPerRead="4096" maxArrayLength="2147483647" maxNameTableCharCount="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="None" />
        <message establishSecurityContext="false" />
      </security>
    </binding>

    <binding name="IMainService_wsHttpBinding" maxReceivedMessageSize="5000000" messageEncoding="Mtom">
      <readerQuotas maxDepth="32" maxStringContentLength="1000000" maxArrayLength="5000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="Transport">
        <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
        <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
      </security>
    </binding>
  </wsHttpBinding>

  <customBinding>
    <binding name="Windows" receiveTimeout="24:00:00" sendTimeout="00:10:00">
      <!-- deflate is slightly better than GZip in our case -->
      <binaryMessageEncoding compressionFormat="Deflate">
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="8388608" maxNameTableCharCount="16384" />
      </binaryMessageEncoding>
      <httpTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" authenticationScheme="Ntlm" />
    </binding>
    <binding name="WindowsEncrypted" receiveTimeout="24:00:00" sendTimeout="00:10:00">
      <!-- deflate is slightly better than GZip in our case -->
      <binaryMessageEncoding compressionFormat="Deflate">
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="8388608" maxNameTableCharCount="16384" />
      </binaryMessageEncoding>
      <httpsTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" authenticationScheme="Ntlm" />
    </binding>
  </customBinding>
  <webHttpBinding>
    <binding name="webHttp" sendTimeout="00:10:00" maxReceivedMessageSize="8388608">
      <readerQuotas maxDepth="32" maxStringContentLength="8388608" maxArrayLength="8388608" maxBytesPerRead="8388608" />
      <security mode="None" />
    </binding>
    <binding name="webHttpEncrypted" sendTimeout="00:10:00" maxReceivedMessageSize="8388608">
      <readerQuotas maxDepth="32" maxStringContentLength="8388608" maxArrayLength="8388608" maxBytesPerRead="8388608" />
      <security mode="Transport" />
    </binding>
  </webHttpBinding>
  <netTcpBinding>
    <binding name="DocumentWcfServiceBinding" maxReceivedMessageSize="104857600">
      <security mode="None" />
    </binding>
  </netTcpBinding>

  <clearUsernameBinding>
    <!-- deflate is slightly better than GZip in our case -->
    <binding name="Username" receiveTimeout="24:00:00" sendTimeout="00:10:00" messageVersion="Soap12" useHttpsTransport="false" useBinaryEncoding="true" compressionFormat="Deflate" />
    <!-- deflate is slightly better than GZip in our case -->
    <binding name="UsernameEncrypted" receiveTimeout="24:00:00" sendTimeout="00:10:00" messageVersion="Soap12" useHttpsTransport="true" useBinaryEncoding="true" compressionFormat="Deflate" />
  </clearUsernameBinding>
</bindings>