<client>
  <endpoint address="{vds.url.base}" binding="netTcpBinding" bindingConfiguration="DocumentWcfServiceBinding" contract="VdsHostServiceReference.IDocumentWcfService" name="VdsHostServiceReference.IDocumentWcfService" />
  <endpoint address="{common.url.base}/IWorkflowRuntimeCommunicationService/internal" behaviorConfiguration="defaultEndpointBehavior" binding="clearUsernameBinding" bindingConfiguration="Username" contract="VSoft.BusinessPlatform.Workflow.IWorkflowRuntimeCommunicationService" name="IWorkflowRuntimeCommunicationService">
    <!--VCONFIG bindingConfiguration = Username{#IsHttps({common.url.base}) ? 'Encrypted' : ''}-->
  </endpoint>
</client>