<connectionStrings>
  <add name="CONNECT_STRING_VERSION_SERVER" connectionString="{common.connection.version_server}" providerName="{common.connection.version_server_provider}" />
  <add name="VSFE.CONFIG_DB" connectionString="{common.connection.db_config}" providerName="{common.connection.db_config.provider}" />
  <add name="VSFE.NODES_DB" connectionString="{common.connection.db_config}" providerName="{common.connection.db_config.provider}" />
  <add name="DICTIONARIES" connectionString="{common.connection.db_data}" providerName="{common.connection.db_data.provider}" />
  <add name="DB_TASKS" connectionString="{common.connection.scheduler_data}" providerName="SqlServer2008" />
  <add name="CONNECT_STRING" connectionString="{common.connection.db_data}" providerName="{common.connection.db_data.provider}" />
</connectionStrings>