<objectBuilder xmlns="http://tempuri.org/ObjectBuilderConfiguration.xsd">
  <ReturnContracts>
    <ReturnContract ContractType="Vision.Environment.App" DefaultName="AppSingleton">
      <InjectionEntries>
        <InjectionEntry Name="AppSingleton" Type="VSoft.GenericServiceHost.TaskModule.App, VSoft.GenericServiceHost.TaskModule" />
      </InjectionEntries>
    </ReturnContract>
  </ReturnContracts>
</objectBuilder>