<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />

  <add key="ArchitektMode" value="{studio.mode}" />
  <add key="WindowsAuthentication" value="{studio.winAuth}" />

  <add key="ServicesBaseAddress" value="{common.publicurl.base}" />

  <add key="VSFE.CONFIG_RECHECK_MODE" value="REPORT_USED_CONFIG_ONLY" />
  <add key="VSFE.POLLING_INTERVAL" value="10" />

  <add key="VSFE.NODE_NAME" value="{#VSoft.Framework.Environment.Environment.PhysicalMachineName}_Studio_{#System.Globalization.CultureInfo.CurrentUICulture.ThreeLetterWindowsLanguageName}" />

  <add key="EnvironmentName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />

  <add key="ArchITektLauncher" value="registry::HKEY_LOCAL_MACHINE\SOFTWARE\VSoft\archITekt\VSoft archITekt Launcher\InstallFolder" />
  <add key="ArchITektImage" value="registry::HKEY_LOCAL_MACHINE\SOFTWARE\VSoft\archITekt\VSoft archITekt 21 Image\InstallFolder" />
  <add key="ArchITektProjectFolder" value="{common.param.project_folder?}" />
  <add key="ArchITektForumsUri" value="https://architekt.vsoft.pl/forums" />
  
  <add key="ArchITektHelpUri" value="https://architekt.vsoft.pl/docs/" />

  <add key="OpenAiProxyUri" value="https://architekt.vsoft.pl/webapi/openai" />
  <add key="OpenAiBaseUrl" value="https://api.openai.com/" />
  <add key="OpenAiVersion" value="v1" />

  <add key="Language" value="en-US" />
  <add key="WebApplicationUrl" value="{common.publicurl.webui}" />

  <add key="StrictDatabaseUpdate" value="{common.param.strictdatabaseupdate}" />

  <!--Jeśli nie podamy wartości to będzie domyślna - 30s. Wartość 0 oznacza brak limitu.-->
  <add key="DatabaseUpdateTimeout" value="{common.param.databaseupdatetimeout}" />

  <!-- Autodokumentacja -->
  <add key="WAIT_TIME_IF_BLOCKED" value="5" />

  <add key="DefaultContext" value="Runtime" />

  <!-- Ustawić LegacyModeByDefault = true, żeby w formularzach domyślnie był włączony tryb kompatybilności wstecznej-->
  <add key="LegacyModeByDefault" value="false" />

  <add key="VsfDictionaryLoader" value="CONNECT_STRING" />
  <add key="ProviderVipPassword" value="{common.param.provider_vip_password}" />
  <add key="ProviderVipUser" value="{common.param.provider_vip_user}" />
  <add key="ServiceHostPassword" value="{common.param.servicehost_password}" />
  <add key="ServiceHostUser" value="{common.param.servicehost_user}" />

  <add key="EXTRA_PROBING_DIRS" value="Plugins" />
  <add key="EXTRA_PLUGINS" value="VTS2.Profiles.ModelDesigner; VTS2.Profiles.ModelDesigner.Designer; VTS2.Profiles.FwdkBlocks; VTS2.Profiles.FwdkBlocks.Designer; VTS2.Profiles.VBP; VTS2.Profiles.VBP.Designer; VTS2.Profiles.SendingModule; VTS2.Profiles.SendingModule.Designer; VTS2.Profiles.archITekt; VSoft.archITekt.Sdo.Core; VTS2.Profiles.VDS.Designer; VTS2.Profiles.MongoDB; VTS2.Profiles.MongoDB.Designer" />

  <add key="WorkflowAsync" value="true" />

  <add key="UseTopDownDesigner" value="true" />
  <add key="ExpressionDesigner.ShouldUseTreeEditor" value="false" />

  <!--pakiety przetwarzania-->
  <add key="VDesigner.Colors.VTS2.Core.Blocks.Input" value="#F8B4B6" />
  <add key="VDesigner.Colors.VTS2.Core.Blocks.Output" value="#7BCABC" />
  <add key="VDesigner.Colors.VTS2.Core.Blocks.Transform" value="#FF7F27" />
  <add key="VDesigner.Colors.VTS2.Core.Blocks.Service" value="#98C8F1" />
  <add key="VDesigner.Colors.VTS2.Core.Blocks.Utils" value="#98C8F1" />
  <add key="VDesigner.Colors.VTS2.Profiles.ModelDesigner.Blocks" value="#98C8F1" />
  <add key="VDesigner.Colors.VTS2.Profiles.SdoCalcReadDemo.Blocks" value="#CB99C9" />
  <add key="VDesigner.Colors.VTS2.Profiles.VBP.Blocks" value="#82B52C" />
  <add key="VDesigner.Colors.VTS2.Core.Blocks.Norm" value="#FF7F27" />
  <add key="VDesigner.Colors.VTS2.Core.Blocks.PackageContext+Annotation" value="#98C8F1" />
  <add key="VDesigner.Colors.VTS2.Profiles.FwdkBlocks.Blocks.FwdkInputFile" value="#F8B4B6" />
  <add key="VDesigner.Colors.VTS2.Profiles.FwdkBlocks.Blocks.FwdkOutputFile" value="#7BCABC" />
  <add key="VDesigner.Colors.VTS2.Profiles.SendingModule.SendingModuleBlock" value="#98C8F1" />
  <add key="VDesigner.Colors.VTS2.Profiles.VDS.Blocks.CreateDocumentBlock" value="#98C8F1" />
  <add key="VDesigner.Colors.VSoft.archITekt.Sdo.Core.Blocks.SdoBlock" value="#98C8F1" />
  <add key="VDesigner.Colors.VTS2.Profiles.MongoDB.MongoDBBlock" value="#F8B4B6" />

  <!-- Id aplikacji w module powiadomień -->
  <add key="SendingModule.ApplicationId" value="1" />

  <!-- Prefiks dodawany do adresów URL pakietów przetwarzania przy hostowaniu serwisów, żeby umożliwić zbiorową konfigurację urlacl -->
  <add key="srvDebugPrefix" value="vts" />

  <!-- Ustawienia serwera pocztowego SMTP dla bloczka SendMailBlock.
        Szczegółowy opis dopuszczalnych wartości znajduje się
        w "Dokumentacji wdrożeniowej". -->
  <add key="smtpserver" value="{common.param.smtp_server}" />
  <add key="smtpport" value="{common.param.smtp_port}" />
  <add key="smtpsecurity" value="{common.param.smtp_security}" />
  <add key="smtp_ignore_certificate_errors" value="{common.param.smtp_ignore_certificate_errors}" />
  <add key="smtp_authentication" value="{common.param.smtp_authentication}" />
  <add key="smtpusername" value="{common.param.smtp_username}" />
  <add key="smtppassword" value="{common.param.smtp_password}" />
  <!-- Jeśli chcemy podglądnąć wygenerowany kod C# nalezy odkomentować ta linię: -->
  <!--<add key="DebugHelper.SaveSources" value="true" />-->
  <!--pakiety przetwarzania-->
  <add key=".Core.Blocks.Input" value="#F8B4B6" />
  <add key=".Core.Blocks.Output" value="#7bcabc" />
  <add key=".Core.Blocks.Transform" value="#FF7F27" />
  <add key=".Core.Blocks.Service" value="#98c8f1" />
  <add key=".Core.Blocks.Utils" value="#98c8f1" />
  <add key=".Profiles.ModelDesigner.Blocks" value="#98c8f1" />
  <add key=".Profiles.SdoCalcReadDemo.Blocks" value="#CB99C9" />
  <add key=".Profiles.VBP.Blocks" value="#82b52c" />

  <!--listy-->
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.AddToListElement" value="#2680cc;#2680cc" />
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.RemoveFromListElement" value="#2680cc;#2680cc" />
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.AgregationElement" value="#FF7F27;#FF7F27" />
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.GetFromListElement" value="#98c8f1;#065ba3" />
  <!--Powtórz ... <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.IterationElement" value="#98c8f1" />-->

  <!--podstawowe-->
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.TableElement" value="#fadc7d;#d9a500" />
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.ArithmeticElement" value="#F8B4B6;#d62407" />
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.ModelElement" value="#fadc7d;#d9a500" />
  <add key="VSoft.Algorithms.Engine.Calculations.ModelElements.SwitchElement" value="#7bcabc;#169c87" />
  <add key="LICENSE_SERVICE" value="" />
  <!-- service = generuj dokumenty zdalnie w usłudze VDS, inna wartość = uruchamiaj VDS (word, libre.. ) lokalnie -->
  <add key="VDSGenerationMode" value="service" />
</appSettings>