<bindings>
  <basicHttpBinding>
    <binding name="MzuServiceBinding">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
    </binding>
    <binding name="MzuServiceBindingSecure">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="Transport" />
    </binding>
  </basicHttpBinding>
  <clearUsernameBinding>
    <binding name="VIPInternalClearUsernameBinding" messageVersion="Soap12" useHttpsTransport="false">
    </binding>
    <binding name="VIPInternalClearUsernameBindingSecure" messageVersion="Soap12" useHttpsTransport="true">
    </binding>
    <!-- deflate is slightly better than GZip in our case -->
    <binding name="Username" receiveTimeout="24:00:00" sendTimeout="00:10:00" messageVersion="Soap12" useHttpsTransport="false" useBinaryEncoding="true" compressionFormat="Deflate" />
    <!-- deflate is slightly better than GZip in our case -->
    <binding name="UsernameEncrypted" receiveTimeout="24:00:00" sendTimeout="00:10:00" messageVersion="Soap12" useHttpsTransport="true" useBinaryEncoding="true" compressionFormat="Deflate" />
  </clearUsernameBinding>
  <customBinding>
    <binding name="Windows" receiveTimeout="24:00:00" sendTimeout="00:10:00">
      <!-- deflate is slightly better than GZip in our case -->
      <binaryMessageEncoding compressionFormat="Deflate">
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="8388608" maxNameTableCharCount="16384" />
      </binaryMessageEncoding>
      <httpTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" authenticationScheme="Ntlm" />
    </binding>
    <binding name="WindowsEncrypted" receiveTimeout="24:00:00" sendTimeout="00:10:00">
      <!-- deflate is slightly better than GZip in our case -->
      <binaryMessageEncoding compressionFormat="Deflate">
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="8388608" maxNameTableCharCount="16384" />
      </binaryMessageEncoding>
      <httpsTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" authenticationScheme="Ntlm" />
    </binding>
    <binding name="HttpBinary" sendTimeout="00:00:15">
      <transactionFlow />
      <binaryMessageEncoding>
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="4096" />
      </binaryMessageEncoding>
      <httpTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" />
    </binding>
    <binding name="HttpBinaryEncrypted" sendTimeout="00:00:15">
      <transactionFlow />
      <binaryMessageEncoding>
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="4096" />
      </binaryMessageEncoding>
      <httpsTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" />
    </binding>
  </customBinding>
  <netTcpBinding>
    <binding name="DocumentWcfServiceBinding" maxReceivedMessageSize="104857600">
      <security mode="None" />
    </binding>
  </netTcpBinding>
</bindings>