<client>
  <endpoint address="{common.url.vip}Services/Account/AuthenticateService.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="AuthenticateServiceReference.IAuthenticateService" name="VipAuthenticateService">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.vip}Services/Account/AccountService.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="AccountServiceReference.IAccountService" name="VipAccountService">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.vip}Services/Role/RoleService.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="RoleServiceReference.IRoleService" name="VipRoleService">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.vip}Services/Application/ApplicationServices.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="IApplicationServicesContract" name="VipApplicationServices">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.provider_mzu}" binding="basicHttpBinding" bindingConfiguration="MzuServiceBinding" contract="MZUServiceSoap" name="MzuService">
    <!--VCONFIG bindingConfiguration = MzuServiceBinding{#IsHttps({common.url.provider_mzu}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Application.Contracts.Configuration.IApplicationLocalizationLanguageConfiguration" name="IApplicationLocalizationLanguageConfiguration" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Application.Contracts.Configuration.IApplicationLocalizationLanguageConfiguration" name="IApplicationLocalizationLanguageConfigurationEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.INavigationServiceClient" name="INavigationServiceClient" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.INavigationServiceClient" name="INavigationServiceClientEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IUserImagesService" name="IUserImagesService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IUserImagesService" name="IUserImagesServiceEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IStylesConfigService" name="IStylesConfigService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IStylesConfigService" name="IStylesConfigServiceEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IMvcControllersService" name="IMvcControllersService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IMvcControllersService" name="IMvcControllersServiceEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Web.Services.IWcfConfigService" name="IWcfConfigService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Web.Services.IWcfConfigService" name="IWcfConfigServiceEncrypted" />
  <endpoint address="{vds.url.base}" binding="netTcpBinding" bindingConfiguration="DocumentWcfServiceBinding" contract="VdsHostServiceReference.IDocumentWcfService" name="VdsHostServiceReference.IDocumentWcfService" />
  <endpoint address="{common.url.base}/IWorkflowRuntimeCommunicationService/internal" behaviorConfiguration="defaultEndpointBehavior" binding="clearUsernameBinding" bindingConfiguration="Username" contract="VSoft.BusinessPlatform.Workflow.IWorkflowRuntimeCommunicationService" name="IWorkflowRuntimeCommunicationService">
    <!--VCONFIG bindingConfiguration = Username{#IsHttps({common.url.base}) ? 'Encrypted' : ''}-->
  </endpoint>
</client>