<ReportServerConfig ReportServerType="{common.param.rs_type}" ServerAbsoluteUrl="{common.url.rs}" UserLogin="{common.param.rs_user}" UserPassword="{common.param.rs_password}" UserDomain="{common.param.rs_domain}" ServerViewPageAddress="{common.url.rs_base}" RootCatalog="{common.param.rs_root_catalog}" />