<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="roleStoreProvider" type="VSoft.Framework.Authorization.ConfigurationSections.RoleStoreConfigurationSection, VSoft.Framework.Authorization" requirePermission="false" />
    <section name="userStoreProvider" type="VSoft.Framework.Authorization.ConfigurationSections.UserStoreConfigurationSection, VSoft.Framework.Authorization" requirePermission="false" />
    <section name="SecurityConfig" type="VSoft.BusinessPlatform.Web.Configuration.SecurityWebConfigurationSection, VSoft.BusinessPlatform.Web" requirePermission="false" />
    <section name="vsoft.framework.log" type="VSoft.Framework.Log.Configuration.XmlConfigurator, VSoft.Framework.Log" />
    <section name="SpecialPages" type="VSoft.BusinessPlatform.Menu.Configuration.SpecialPagesConfigurationSection, VSoft.BusinessPlatform.Menu" restartOnExternalChanges="false" />
    <section name="AuthenticationConfig" type="VSoft.BusinessPlatform.Web.Configuration.AuthenticationWebConfigurationSection, VSoft.BusinessPlatform.Web" />
    <section name="ReportServerConfig" type="VSoft.BusinessPlatform.ReportDesigner.Configuration.ReportServerConfigurationSection, VSoft.BusinessPlatform.ReportDesigner" />
    <section name="NLBHost" type="VSoft.BusinessPlatform.Workflow.Services.NLB.Configuration.NLBHostConfigurationSection, VSoft.BusinessPlatform.Workflow.Services" />
    <section name="NLBHeartBeat" type="VSoft.BusinessPlatform.Workflow.Services.NLB.Configuration.NLBHeartBeatConfigurationSection, VSoft.BusinessPlatform.Workflow.Services" />
    <section name="WebControlBehavioursConfig" type="VSoft.BusinessPlatform.Web.Configuration.WebControlBehavioursConfigurationSection, VSoft.BusinessPlatform.Web" />
    <section name="LanguageConfigurationSection" type="VSoft.BusinessPlatform.Application.Impl.Configuration.ApplicationLocalizationLanguageConfigurationSection, VSoft.BusinessPlatform.Application.Impl" />
    <section name="StylesConfig" type="VSoft.BusinessPlatform.Common.Configuration.CssStyleConfigurationSection, VSoft.BusinessPlatform.Common" />
  </configSections>
  <nlog>
    <include file="${basedir}/Configuration/Environment/NLog.config" />
  </nlog>
  <connectionStrings configSource="Configuration\Environment\ConnectionStrings.config" />
  <roleStoreProvider configSource="Configuration\Environment\RoleStoreProvider.config" />
  <userStoreProvider configSource="Configuration\Environment\UserStoreProvider.config" />
  <system.serviceModel>
    <bindings configSource="Configuration\Environment\Bindings.config" />
    <client configSource="Configuration\Environment\Client.config" />
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="VSoft.archITekt.Core.ServiceModel.ClearUsernameBinding.BindingExtenions.ClearUsernameCollectionElement, VSoft.archITekt.Core" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="businessLimits" type="VSoft.Framework.Mvc.Filters.BusinessLimits.BusinessLimitBehavior, VSoft.Framework.Mvc" />
        <add name="CultureEndpointBehavior" type="VSoft.BusinessPlatform.Guts.ServiceModel.Culture.CultureBehaviorExtension, VSoft.BusinessPlatform.Guts" />
        <add name="DynamicOperation" type="VSoft.archITekt.Core.ServiceModel.DynamicContract.DynamicOperationBehaviorExtension, VSoft.archITekt.Core" />
      </behaviorExtensions>
    </extensions>
    <behaviors configSource="Configuration\Environment\Behaviors.config" />
    <services configSource="Configuration\Environment\Services.config" />
    <serviceHostingEnvironment configSource="Configuration\Environment\ServiceHostingEnvironment.config" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings file="Configuration\Environment\AppSettings.config" />
  <SecurityConfig configSource="Configuration\Environment\Security.config" />
  <vsoft.framework.log configSource="Configuration\Environment\Logger.config" />
  <system.web>
    <authentication mode="None" />
    <sessionState cookieName="session_id" timeout="30" mode="InProc" sqlConnectionString="sql-connection-string" allowCustomSqlDatabase="true" cookieless="false">
      <!--VCONFIG timeout = {www.param.session_timeout}-->
      <!--VCONFIG mode = {www.param.session_mode}-->
      <!--VCONFIG sqlConnectionString = {www.connection.sql_session_state}-->
    </sessionState>
    <authorization>
      <deny verbs="OPTIONS" users="*" />
      <deny verbs="TRACE" users="*" />
      <deny verbs="PROPFIND" users="*" />
      <deny verbs="COPY" users="*" />
      <deny verbs="LOCK" users="*" />
      <deny verbs="UNLOCK" users="*" />
      <deny verbs="PROPPATCH" users="*" />
      <deny verbs="MKCOL" users="*" />
      <deny verbs="MOVE" users="*" />
      <deny verbs="DELETE" users="*" />
      <deny verbs="SEARCH" users="*" />
      <deny verbs="CONNECT" users="*" />
      <deny verbs="PUT" users="*" />
    </authorization>
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.8">
      <!--VCONFIG debug={www.param.compilation.debug}-->
    </compilation>
    <customErrors mode="RemoteOnly">
      <!--VCONFIG mode={www.param.custom_errors}-->
    </customErrors>
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" maxRequestLength="204800" requestLengthDiskThreshold="204800" />
    <httpHandlers>
      <clear />
    </httpHandlers>
    <globalization uiCulture="pl-PL" culture="pl-PL" requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" enableClientBasedCulture="true" />
    <httpModules>
      <add name="RequestLoggerHttpModule" type="VSoft.Framework.Mvc.Modules.RequestLoggerHttpModule, VSoft.Framework.Mvc" />
      <add name="DataContextModue" type="VSoft.Framework.Data.Web.DataContextModule, VSoft.Framework.Data" />
      <add name="ContextLoggingModule" type="VSoft.BusinessPlatform.Common.Web.Logging.ContextLoggingHttpModule, VSoft.BusinessPlatform.Common.Web" />
      <add name="ReadOnlySessionModule" type="VSoft.BusinessPlatform.Common.Web.ServiceModel.ReadOnlySessionModule, VSoft.BusinessPlatform.Common.Web" />
    </httpModules>
    <httpCookies httpOnlyCookies="true" />
    <!--  If pageOutput="true", the trace information will be displayed at the bottom of each page -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <xhtmlConformance mode="Legacy" />
    <pages validateRequest="true" enableEventValidation="false" enableViewStateMac="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="std" namespace="VSoft.BusinessPlatform.Web" assembly="VSoft.BusinessPlatform.Web" />
        <add tagPrefix="std" namespace="VSoft.BusinessPlatform.Web.Controls.Common" assembly="VSoft.BusinessPlatform.Web" />
        <add tagPrefix="sec" namespace="VSoft.BusinessPlatform.Web.Controls.Security" assembly="VSoft.BusinessPlatform.Web" />
        <add tagPrefix="spc" namespace="VSoft.BusinessPlatform.Web.Controls.Specific" assembly="VSoft.BusinessPlatform.Web" />
        <add tagPrefix="diag" namespace="VSoft.BusinessPlatform.Web.Controls.Diagnostic" assembly="VSoft.BusinessPlatform.Web" />
      </controls>
    </pages>
    <webServices>
      <protocols>
        <clear />
        <add name="AnyHttpSoap" />
        <add name="HttpPostLocalhost" />
        <add name="Documentation" />
      </protocols>
      <soapExtensionTypes>
        <add type="VSoft.BusinessPlatform.Common.Web.Security.ExceptionHandlingSoapExtension, VSoft.BusinessPlatform.Common.Web" priority="1" group="High" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.webServer>
    <!-- Error pages without any technical details: -->
    <!--
    <httpErrors errorMode="Custom">
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="https://[nazwaserwera]/[nazwaaplikacji]/ErrorPages/404.html" responseMode="Redirect" />
      <error statusCode="403" path="https://[nazwaserwera]/[nazwaaplikacji]/ErrorPages/403.html" responseMode="Redirect" />
      <error statusCode="500" path="https://[nazwaserwera]/[nazwaaplikacji]/ErrorPages/500.html" responseMode="Redirect" />
    </httpErrors>
        -->
    <directoryBrowse enabled="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
        <!-- HSTS can be enabled using the entry below. Reminder: https connections are enforced by the browser for the whole domain -->
        <!-- <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" /> -->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="Reserved.ReportViewerWebControl.axd" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms" />
      <add name="SessionFileDownloadHandler" path="*SessionFileDownload/*" verb="*" type="VSoft.BusinessPlatform.Forms.Web.Handlers.SessionFileDownloadHandler, VSoft.BusinessPlatform.Forms.Web" />
      <add name="BinaryDataPreview" path="*BinaryDataPreview/*" verb="*" type="VSoft.BusinessPlatform.Forms.Web.Handlers.BinaryDataPreview, VSoft.BusinessPlatform.Forms.Web" />
      <add name="Download" path="*Download.ashx*" verb="*" type="VSoft.BusinessPlatform.Forms.Web.Handlers.Download, VSoft.BusinessPlatform.Forms.Web" />
      <add name="PreviewHandler" path="*PreviewHandler.ashx*" verb="*" type="VSoft.BusinessPlatform.Lists.Web.Handlers.PreviewHandler, VSoft.BusinessPlatform.Lists.Web" />
      <add name="WebLogger" path="*WebLogger.ashx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Handlers.WebLogger, VSoft.BusinessPlatform.Web" />
      <add name="AutomaticLogoutHandler" path="*AutomaticLogoutHandler.ashx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Handlers.AutomaticLogoutHandler, VSoft.BusinessPlatform.Web" />
      <add name="Navigation" path="*Navigation.ashx" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Handlers.NavigationHandler, VSoft.BusinessPlatform.Web" />
      <add name="UserSettings" path="UserSettings.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Handlers.UserSettingsHandler, VSoft.BusinessPlatform.Web" />
      <add name="JsonServicesProxy" path="Pages/JsonServicesProxy.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.JsonServicesProxyHandler, VSoft.BusinessPlatform.Web" />
      <add name="AsyncList" path="Pages/AsyncList.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Handlers.AsyncList, VSoft.BusinessPlatform.Web" />
      <add name="MaintenanceInfo" path="Pages/MaintenanceInfo.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.MaintenanceInfoHandler, VSoft.BusinessPlatform.Web" />
      <add name="RightUnavaliable" path="Pages/RightUnavaliable.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.RightUnavaliableHandler, VSoft.BusinessPlatform.Web" />
      <add name="StartNewWorkflow" path="Pages/StartNewWorkflow.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.StartNewWorkflowHandler, VSoft.BusinessPlatform.Web" />
      <add name="StartMicroWorkflow" path="Pages/StartMicroWorkflow.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.StartMicroWorkflowHandler, VSoft.BusinessPlatform.Web" />
      <add name="RenderReport" path="Pages/RenderReport.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.RenderReportHandler, VSoft.BusinessPlatform.Web" />
      <add name="RightsMapping" path="Pages/RightsMapping.aspx*" verb="*" type="VSoft.BusinessPlatform.Web.Controls.Pages.PageHandlers.RightsMappingHandler, VSoft.BusinessPlatform.Web" />
      <add name="UserDynamicImages" verb="GET" path="*UserDynamicImages*" type="VSoft.BusinessPlatform.Common.Web.HttpHandler.ImageDynamicHandler, VSoft.BusinessPlatform.Common.Web" />
      <add name="MultipleFileUpload" verb="*" path="*MultipleFileUpload.ashx*" type="VSoft.BusinessPlatform.Forms.Web.Handlers.MultipleFileUploadHandler, VSoft.BusinessPlatform.Forms.Web" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=UTF-8" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css; charset=UTF-8" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=UTF-8" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" cacheControlCustom="public" />
    </staticContent>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="10485760" />
        <!-- 10MB -->
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
    <modules>
      <add name="RequestLoggerHttpModule" type="VSoft.Framework.Mvc.Modules.RequestLoggerHttpModule, VSoft.Framework.Mvc" />
      <remove name="DataContextModue" />
      <remove name="ContextLoggingModule" />
      <add name="DataContextModue" preCondition="managedHandler" type="VSoft.Framework.Data.Web.DataContextModule, VSoft.Framework.Data" />
      <add name="ContextLoggingModule" type="VSoft.BusinessPlatform.Common.Web.Logging.ContextLoggingHttpModule, VSoft.BusinessPlatform.Common.Web" />
      <add name="ReadOnlySessionModule" type="VSoft.BusinessPlatform.Common.Web.ServiceModel.ReadOnlySessionModule, VSoft.BusinessPlatform.Common.Web" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.1" newVersion="7.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.WsFederation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens.Saml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.2.0" newVersion="7.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.3" newVersion="7.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:latest /nowarn:1659;1699;1701;1702" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <SpecialPages>
    <SpecialPages>
      <SpecialPage URL="~/Pages/RightsMapping.aspx" DESCRIPTION="${res:VSoft.BusinessPlatform.Menu.Resources.Lang.SpecialPages.Uprawnienia, VSoft.BusinessPlatform.Menu}" IDENTIFIER="RIGHTS" />
    </SpecialPages>
  </SpecialPages>
  <configProtectedData defaultProvider="MyRsaProtectedConfigurationProvider">
    <providers>
      <add name="MyRsaProtectedConfigurationProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="NetFrameworkConfigurationKey" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <AuthenticationConfig configSource="Configuration\VBP\Authentication.config" />
  <LanguageConfigurationSection configSource="Configuration\VBP\Language.config" />
  <StylesConfig configSource="Configuration\VBP\Styles.config" />
  <ReportServerConfig configSource="Configuration\VBP\ReportServer.config" />
  <WebControlBehavioursConfig configSource="Configuration\VBP\WebControlBehaviours.config" />
  <!-- KONFIGURACJA NLB -->
  <NLBHost configSource="Configuration\VBP\NLBHost.config" />
  <NLBHeartBeat configSource="Configuration\VBP\NLBHeartBeat.config" />
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess" description="Oracle Data Provider for .NET, Managed Driver" />
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySql.Data.MySqlClient" invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" description=".NET Framework Data Provider for MySql" />
      <remove invariant="Npgsql.NpgsqlFactory" />
      <add name="Npgsql.NpgsqlFactory" invariant="Npgsql.NpgsqlFactory" type="Npgsql.NpgsqlFactory, Npgsql" description=".NET Framework Data Provider for Npgsql.NpgsqlFactory" />
    </DbProviderFactories>
  </system.data>
</configuration>