<!--
   Sekcja konfiguracyjna zachowań kontrolek webowych.
   Dostępne opcje:
	   AnimationDuration: Czas trwania animacji. Może przyjmować wartości:
			   0 lub Disabled - animacje wyłączone,
			   Slow - 600ms,
			   Default - 400ms,
			   Fast - 200 ms,
			   1...60000 - czas w milisekundach.
		   Każda inna wartość, która nie zostanie rozpoznana traktowana będzie jako Default.
		   Domyślnie AnimationDuration ustawione jest na Default.
      ButtonsDisableTime: Czas wyszarzania przycisków po wykonaniu postbacka (w sekundach).
         Domyślnie 120 sekund.
         Brak tej opcji spowoduje, że przyciski będą wyszarzane na 5 sekund (działanie "po staremu" z VSF.Web).
-->
<WebControlBehavioursConfig AnimationDuration="Default" ButtonsDisableTime="1" />