<client>
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Application.Contracts.Configuration.IApplicationLocalizationLanguageConfiguration" name="IApplicationLocalizationLanguageConfiguration" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Application.Contracts.Configuration.IApplicationLocalizationLanguageConfiguration" name="IApplicationLocalizationLanguageConfigurationEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.INavigationServiceClient" name="INavigationServiceClient" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.INavigationServiceClient" name="INavigationServiceClientEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IUserImagesService" name="IUserImagesService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IUserImagesService" name="IUserImagesServiceEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IStylesConfigService" name="IStylesConfigService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IStylesConfigService" name="IStylesConfigServiceEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IMvcControllersService" name="IMvcControllersService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IMvcControllersService" name="IMvcControllersServiceEncrypted" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Web.Services.IWcfConfigService" name="IWcfConfigService" />
  <endpoint behaviorConfiguration="defaultEndpointBehavior" binding="customBinding" bindingConfiguration="HttpBinaryEncrypted" contract="VSoft.BusinessPlatform.Common.Web.Services.IWcfConfigService" name="IWcfConfigServiceEncrypted" />
</client>