<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="VSoft.Framework.Log.NLog" />
  </extensions>
  <!-- https://github.com/NLog/NLog/wiki/Time-Source -->
  <time type="FastUtc" />
  <targets>
    <target name="bufferedFile" xsi:type="BufferingWrapper" bufferSize="1000" slidingTimeout="true" flushTimeout="50">
      <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/Debug/Log.current.log" keepFileOpen="false" layout="~${level:uppercase=true}@${longdate}@${gdc:item=node}:${threadid}@${componentAndLogger}: ${message} ~~ ${exception:format=tostring}~~." archiveFileName="${basedir}/Logs/Debug/log.{#####}.log" archiveAboveSize="10000000" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="10" cleanupFileName="true" encoding="UTF-8" autoFlush="false" />
    </target>
    <target name="bufferedFileErrors" xsi:type="BufferingWrapper" bufferSize="1000" slidingTimeout="true" flushTimeout="50">
      <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/Error/Log.current.log" keepFileOpen="false" layout="~${level:uppercase=true}@${longdate}@${gdc:item=node}:${threadid}@${componentAndLogger}: ${message} ~~ ${exception:format=tostring}~~." archiveFileName="${basedir}/Logs/Error/log.{#####}.log" archiveAboveSize="10000000" archiveEvery="Day" archiveNumbering="DateAndSequence" maxArchiveFiles="10" cleanupFileName="true" encoding="UTF-8" autoFlush="false" />
    </target>
  </targets>
  <rules>
    <!-- Emergency logging of everything to a local file -->
    <!--  <logger minlevel="Debug" writeTo="bufferedFile" name="*" /> -->
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="MEF" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="VSFE" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="Bussiness" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="Diagnostic" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="EF" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="License" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="NLB" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="VSFData" />
    <logger minlevel="Debug" maxlevel="Warn" writeTo="bufferedFile" name="Workflow" />
    <logger minlevel="Error" maxlevel="Fatal" writeTo="bufferedFile" name="*" />
    <logger minlevel="Error" maxlevel="Fatal" writeTo="bufferedFileErrors" name="*" />
  </rules>
</nlog>