<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="WithoutHeader.Master.cs" Inherits="VBP_WebUI.MasterPages.WithoutHeader" MasterPageFile="Base.Master" %>

<asp:Content ContentPlaceHolderID="head" runat="server">
   <asp:ContentPlaceHolder runat="server" ID="head"/>
</asp:Content>
<asp:Content ContentPlaceHolderID="MC" runat="server">
   <asp:ContentPlaceHolder ID="MC" runat="server"/>
</asp:Content>
<asp:Content runat="server" ContentPlaceHolderID="Header"/>
<asp:Content runat="server" ContentPlaceHolderID="Footer"/>