<appSettings>
  <add key="VersionServerContext:UserIdOverride" value="{common.param.versionserver_userid}" />
  <add key="VersionServerContext:WorkspaceOverride" value="{common.param.versionserver_workspace}" />
  <add key="LICENSE_SERVICE" value="" />
  <add key="installationDirectory" value="{#System.AppDomain.CurrentDomain.BaseDirectory}\..\" />

  <add key="serviceName" value="{scheduler.name.serviceName}" />
  <add key="displayName" value="{scheduler.name.displayName}" />
  <add key="description" value="{scheduler.name.description}" />
  <add key="serviceWcfUrl" value="{scheduler.url.base}" />
  <!-- Konfiguracja adresu służy do ustalenia schemy i portu na których serwis wystawi REST API, pozostałe części adresu są ignorowane -->
  <add key="serviceRestApiUrl" value="{scheduler.url.base}" />
  <add key="serviceRestApiSecretKey" value="{scheduler.restapi.secretKey}" />
  <add key="serviceRestApiDeveloperMode" value="false" />
  <add key="environmentName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />
  <add key="errorLevel" value="{www.param.security_error_level}" />
	
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />

  <add key="appDiagnosticEnabled" value="false" />

  <add key="requestedAdditionatTimeForStart" value="120000" />
  <add key="requestedAdditionatTimeForStop" value="120000" />
  <add key="activeProfile" value="VSoft.GenericServiceHost.Production" />
  <add key="applicationName" value="GenericServiceHostAppName" />
  <add key="eventLogAppenderEnabled" value="false" />
  <add key="eventLogAppenderLevel" value="error" />
  <add key="externalIdEnabled" value="false" />
  <add key="externalIdProviderTypeName" value="ExternalIdProviderSample.ExternalIdProviderSample, ExternalIdProviderSample" />
  <add key="configurationValuePrefix" value="{" />
  <add key="configurationValueSufix" value="}" />
  <add key="wcfMaxArrayLengthBytes" value="2147483647" />
  <add key="wcfSecurityClientCredentialType" value="None" />
  <!--
    Globalna flaga do decyzji, jak wiele reguł może być równocześnie uruchomionych:
    * NoLimits - dowolna ilość zadań, opcja domyślna
		* OneRuleInSameTime - w danym momencie może być uruchomiona tylko jedna reguła
		* OneRuleInGroupInSameTime - w danym momencie może być uruchomiona tylko jedna reguła z wybranej grupy.
    -->

  <add key="RuleExecutionGlobalPolicy" value="NoLimits" />

  <add key="topshelfLoggingLevel" value="error" />
  <!-- # logowanie zewnetrznych komponentow, mozliwe wartosci: trace, debug, info, warn, error, fatal
    ToDo: Uspójnić z zmienną {common.param.errorlevel} -->
  <add key="loggingLevel" value="debug" />
  <!-- {common.param.errorlevel} -->
  <add key="quartzLoggingLevel" value="error" />
  <add key="hibernateLoggingLevel" value="error" />

  <!-- Możliwość konfiguracji port, na którym będą uruchamiany usługi UH:-->
  <!--<add key="serviciesPort" value="1400" />-->

  <!-- Odkomentować poniższe wpisy, aby działał moduł uruchamiania zewnętrznych procesów -->
  <!--<add key="processPath" value="..\TransformationServer\ServiceHost.exe" />-->
  <!--<add key="processArguments" value="-d -p" />-->

  <!-- Konfiguracja srodowiska -->
  <add key="VSFE.NODE_NAME" value="{#VSoft.Framework.Environment.Environment.PhysicalMachineName}_SchedulerHost" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />

  <!-- Konfiguracja modułu Code Tasks -->
  <add key="codeTasksDir" value="{#System.AppDomain.CurrentDomain.BaseDirectory}\CodeTasks" />
  <add key="refreshTimeSec" value="3" />
  <add key="workThreads" value="1" />

  <!-- Ustawienia modułu notyfikacji - aby go włączyć, należy odkomentować i ustawić przynajmniej 3 pierwsze wpisy: -->
  <!--
    <add key="notificationModule.smtp.host" value="{scheduler.name.smtp_host}" />
    <add key="notificationModule.smtp.port" value="{scheduler.name.smtp_port}" />
    <add key="notificationModule.smtp.senderAddress" value="{scheduler.name.smtp_sender_address}" />

    <add key="notificationModule.smtp.senderName" value="{scheduler.name.smtp_sender_name}" />
    <add key="notificationModule.smtp.user" value="{scheduler.name.smtp_user}" />
    <add key="notificationModule.smtp.password" value="{scheduler.name.smtp_password}" />
  -->
  <!-- do ustawienia, jesli domyślny timeout jest za mały -->
  <!--
    <add key="notificationModule.smtp.timeout" value="{UH_SMTP_TIMEOUT}" />
  -->

  <!-- 
       Ustawienia dla rozszerzenia AbortBasedOnSql: odkomentować i poprawnie ustawić,
       jeśli zainstalowana jest paczka VSoft.Scheduler.Host.Extensions.AbortBasedOnSql
       Opis kolejny opcji:
       1. Nazwa connection string'a do bazy danych na której ma zostać wykonane zapytanie
       2. Zapytanie SQL, które jeśli zwróci 1, reguła będzie zatrzymana
       3. Status zatrzymania uruchamiania reguły, możliwe wartości:	Expected, Warning, Error
  -->
  <!--
  
  <add key="Extensions.AbortExecutionBasedOnSqlExtension.ConnectionStringName" value="UH"/>
  <add key="Extensions.AbortExecutionBasedOnSqlExtension.SqlQuery" value="select 1"/>
  <add key="Extensions.AbortExecutionBasedOnSqlExtension.Status" value="Warning"/>
  
  -->

  <!-- Compatibility switch for ARCH-2574. Przetwarzanie plików może zakończyć się w stanie 
  ExecutedWithWarning albo CleanedWithWarning. W takim przypadku Scheduler w wersji do 2.0.0.83 
  nie rozpozna plików jako przetworzone i spróbuje wykonać dla nich ponowne przetwarzanie. 
  W wersji 2.0.0.84 działanie zostało zmienione i takie pliki są oznaczane jako przetworzone.
  Przestawienie na value="True" przywróci działanie sprzed 2.0.0.84 i pozwoli na powtórne 
  przetwarzanie plików przetworzonych "WithWarning". -->
  <add key="Switch.VSoft.Scheduler.IgnoreWithWarningStates_Respect_2_83_ProcessedFileStates" value="False" />

  <add key="Scheduler.TMModuleConfigFilePath" value="..\TransformationServices.Host\TransformationRunner.exe.config" />
</appSettings>