<connectionStrings>
  <add name="UH" connectionString="{common.connection.scheduler_data}" providerName="{common.connection.scheduler_data.provider}" />
  <add name="LoggerConnectionString" connectionString="{common.connection.scheduler_data}" providerName="{common.connection.scheduler_data.provider}" />
  <add name="VSFE.CONFIG_DB" connectionString="{common.connection.db_config}" providerName="{common.connection.db_config.provider}" />
</connectionStrings>