<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <add key="VDSHostServiceName" value="VDSHost" />
  <add key="VDSHostDisplayName" value="VDSHost" />
  <add key="VDSHostDescription" value="VDSHost" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />
  <add key="LogInputJson" value="false" />
  <add key="LogOutputDocx" value="false" />
  <add key="VSFE.NODE_NAME" value="{#VSoft.Framework.Environment.Environment.PhysicalMachineName}_DocumentHost" />
  <add key="VDSHostSvcAddress" value="{vds.url.base}" />
  <!--<add key="FileRepositoryPath" value="E:\vds_repo" />-->
  <add key="AppCulture" value="pl-PL" />
  <add key="EnvironmentName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />
  <add key="VersionServerContext:UserIdOverride" value="{common.param.versionserver_userid}" />
  <add key="VersionServerContext:WorkspaceOverride" value="{common.param.versionserver_workspace}" />
</appSettings>