<connectionStrings>
  <add name="VSFE.CONFIG_DB" connectionString="{common.connection.db_config}" providerName="{common.connection.db_config.provider}" />
  <add name="CONNECT_STRING_VERSION_SERVER" connectionString="{common.connection.version_server}" providerName="{common.connection.version_server_provider}" />
</connectionStrings>