<services>
  <service name="VSoft.Document.Services.Host.Wcf.DocumentWcfService" behaviorConfiguration="DocumentWcfServiceBehavior">
    <endpoint address="" binding="netTcpBinding" contract="VSoft.Document.Services.Host.Wcf.IDocumentWcfService" bindingConfiguration="DocumentWcfServiceBinding" />
    <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    <host>
      <baseAddresses>
        <add baseAddress="{vds.url.base}" />
      </baseAddresses>
    </host>
  </service>
</services>