<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <!-- Unique units across whole hierarchy -->
  <add key="UNIQUE_UNIT_HIERARCHY" value="False" />
  <!-- Is it possible to add a sub-hierarchy -->
  <add key="SUBHIERARCHY_ENABLED" value="false" />
  <add key="WIZARD_ATTRIBUTE_STEP_ENABLED" value="false" />
  <add key="WIZARD_PROFILE_TO_HIERARCHY_ENABLED" value="false" />
  <add key="VSFE.NODE_NAME" value="{#System.Environment.MachineName}_VipWeb" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />
  <add key="DoNotCompressViewState" value="True" />
  <!-- Eliminates problems when run on container with port forwarding and no HTTP_X_* headers are sent by proxy -->
  <add key="aspnet:UseHostHeaderForRequestUrl" value="true" />
  <add key="CookieSecureOption" value="{common.param.secure_cookie}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />
	<add key="ProviderVipPassword" value="{common.param.provider_vip_password}" />
	<add key="ProviderVipUser" value="{common.param.provider_vip_user}" />
</appSettings>