<behaviors>
  <serviceBehaviors>
	  <behavior name="InternalVIPServiceBehaviour">
		  <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
		  <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false">
		    <!--VCONFIG httpGetEnabled = {#IsHttps({common.url.vip}) ? 'false' : 'true'}-->
		    <!--VCONFIG httpsGetEnabled = {#IsHttps({common.url.vip}) ? 'true' : 'false'}-->
		  </serviceMetadata>
		  <serviceCredentials>
			  <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="VSoft.Identity.Provider.WebUI.MAIS.Validators.CustomUserNameValidator,VSoft.Identity.Provider.WebUI" />
		  </serviceCredentials>
	  </behavior>
  </serviceBehaviors>
</behaviors>