<bindings>
	<wsHttpBinding>
		<binding name="VipBinding">
			<security mode="None">
				<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
				<message clientCredentialType="Certificate" establishSecurityContext="false" negotiateServiceCredential="false" />
			</security>
		</binding>
      <binding name="VipBindingSecure">
         <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" establishSecurityContext="false" negotiateServiceCredential="false" />
         </security>
      </binding>
	</wsHttpBinding>
	<clearUsernameBinding>
		<binding name="VIPInternalClearUsernameBinding" messageVersion="Soap12" useHttpsTransport="false">
		</binding>
		<binding name="VIPInternalClearUsernameBindingSecure" messageVersion="Soap12" useHttpsTransport="true">
		</binding>
	</clearUsernameBinding>
</bindings>