<connectionStrings>
  <add name="Default" connectionString="{common.connection.provider_vip}" providerName="{common.connection.provider_vip.provider}" />
  <add name="VSFE.CONFIG_DB" connectionString="{common.connection.db_config}" providerName="{common.connection.db_config.provider}" />
</connectionStrings>