<services>
	<service name="Account.Services.AccountService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Account.Services.IAccountService">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
		</endpoint>
	</service>
	<service name="Account.Services.AuthenticateService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Account.Services.IAuthenticateService">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="Application.Services.ApplicationServices" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Application.Services.IApplicationServicesContract">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="Attribute.Services.AttributeService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Attribute.Services.IAttributeService">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="Hierarchy.Services.HierarchyServices" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Hierarchy.Services.IHierarchyServicesContract">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="HierarchyToApplicationIntegration.Services.HierarchyToApplicationIntegrationService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="HierarchyToApplicationIntegration.Services.IHierarchyToApplicationIntegrationServices">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="ProfileToHierarchy.Services.ProfileToHierarchyServices" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="ProfileToHierarchy.Services.IProfileToHierarchyServicesContract">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="Role.Services.ProfileService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Role.Services.IProfileService">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="Role.Services.RoleService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="Role.Services.IRoleService">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
	<service name="UserIntegration.Services.UserIntegrationService" behaviorConfiguration="InternalVIPServiceBehaviour">
		<endpoint address="" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="UserIntegration.Services.IUserIntegrationServicesContract">
		  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
      </endpoint>
	</service>
</services>