<WebControlConfig CssFolder="WebBlue" MinimizeJs="false" MinimizeCss="false" Compress="false" MargeJs="false" MargeCss="false" CacheExpiration="3" CacheExpirationUnit="DAY">
  <Controls>
    <add type="VSoft.Framework.Web.Core.WebControls.IAccording" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JAccordingWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IAccordingPanel" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JAccordingWeb2Panel, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ISplitter" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JSplitterWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ISplitterPanel" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JSplitterWeb2Panel, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IDialogBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JDialogBoxWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IFisheye" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JFisheyeWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IFisheyeItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JFisheyeWeb2Item" />
    <add type="VSoft.Framework.Web.Core.WebControls.IFormValidator" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JFormValidatorWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IFormValidatorError" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JFormValidatorWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IWebServiceProxy" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JWebServiceProxy, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ITextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JTextBoxWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IMaskedTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JMaskedTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IDecimalTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JDecimalTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IDateTimeTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JDateTimeTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IAutoCompleteItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JAutoCompleteItemWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IIdentityCardTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JIdentityCardTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.INipTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JNipTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.INrbTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JNrbTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IRegonTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JRegonTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IZipCodeTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JZipCodeTextBoxWeb2" />
    <add type="VSoft.Framework.Web.Core.WebControls.IReadOnly" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JReadOnlyWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IValidator" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JValidatorWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IFileUpload" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JFileUploadWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ITooltip" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JTooltipWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IDropDownList" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JDropDownListWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IDropDownListItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JDropDownListWeb2Item, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IHelpDesigner" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JHelpDesignerWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGrid" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGridColumn" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2Column, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGridColumnDecimal" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2ColumnDecimal, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGridColumnDateTime" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2ColumnDateTime, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGridColumnRegon" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2ColumnRegon, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGridColumnNIP" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2ColumnNIP, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IGridButton" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JGridWeb2Button, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ITreeView" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JTreeViewWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ITreeViewItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JTreeViewItemWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IContinueSession" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JContinueSessionWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ITab" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JTabWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ITabItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JTabWeb2Item, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IUpdatePanel" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JUpdatePanelWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IToolbox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JToolboxWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IToolboxItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JToolboxWeb2Item, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ISessionDuplicateCheck" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JSessionDuplicateCheckWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IRichTextBox" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JRichTextBoxWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IDatePicker" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JDatePickerWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IPreloader" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JPreloaderWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Menu.IWebMenuControl" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JWebMenuWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Menu.IWebMenuItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JWebMenuItemWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ILayoutControl" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JLayoutControlWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ILayoutElement" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JLayoutElementWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.ILayoutItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JLayoutItemWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IClientBehavior" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JClientBehaviorWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IVFrame" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JVFrameWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IContextMenu" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JContextMenuWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IContextMenuItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JContextMenuItemWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IUserMessages" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JUserMessagesWeb2, VSoft.Framework.Web" />
    <add type="VSoft.Framework.Web.Core.WebControls.IUserMessagesItem" instance="VSoft.Framework.Web.ControlImplementation.jQueryControls.JUserMessagesWeb2Item, VSoft.Framework.Web" />
  </Controls>

  <WebSectionHelpDesigner DataProvider="VSoft.Framework.Web.WebControls.HelpDesignerMsSqlDataProvider, VSoft.Framework.Web" ConnectionStringName="Default" />
  <WebSectionStateManager DataProvider="VSoft.Framework.Web.QueryNavigator.StateManager.DatabaseStateManager, VSoft.Framework.Web" ConnectionStringName="Default" />
  <WebSectionUserSessionIdManager DataProvider="VSoft.Framework.Web.QueryNavigator.UserSessionIdManager, VSoft.Framework.Web" />
  <WebSectionEncodeManager DataProvider="VSoft.Framework.Web.QueryNavigator.SimpleUrlEncodeManager, VSoft.Framework.Web" />
  <WebSectionUploadDataHandlerConfig Handler="VSoft.Framework.Web.WebControls.FileUploadDataHandler" Folder="../Temp" />
</WebControlConfig>