<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <add key="VSFE.NODE_NAME" value="{#VSoft.Framework.Environment.Environment.PhysicalMachineName}_MainWeb" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />
  <add key="LogRequestWebTimeMs" value="{common.param.log_request_web_time_ms}" />

  <add key="webactivator:assembliesToScan" value="VSoft.BusinessPlatform.Web" />
  <add key="ApplicationName" value="{common.param.environment}" />

  <!-- Configure information shown in applicaiton footer. Allowed values are (comma separated):
       None, Copyright, Version, Environment, User, Roles, Browser
       Short -> Version, Environment, User
       Default -> Short, Roles, Browser
       All -> Copyright, Default -->
  <add key="FooterConfig" value="Default" />

  <!-- Configure Single Sign On using Windows credentials. Allowed values are:
       True: Show SSO link on login page,
       Auto: Skip login page and log in user automaticaly
       False: Disable SSO -->
  <add key="WINDOWS_AUTHENTICATION" value="{www.param.windows_authentication}" />

  <!--AD FS-->
  <add key="ADFS_AUTHENTICATION" value="{common.param.adfs_authentication}" />
  <add key="ADFS_METADATA" value="{common.url.adfs_metadata}" />
  <add key="ADFS_REALM" value="{common.publicurl.webui}" />

  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Maximum size of cached CSS & JS file stored in memory cache. Default 10 kB -->
  <add key="MaxCachedFileSize" value="10240" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="EnvironmentName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />
  <add key="WebApplicationUrl" value="{common.publicurl.webui}" />

  <add key="VSFE.CONFIG_RECHECK_MODE" value="REPORT_USED_CONFIG_ONLY" />

  <add key="DoNotCompressViewState" value="True" />
  <add key="DefaultContext" value="Runtime" />

  <!--  MAINTENANCE -->
  <add key="MAINTENANCE" value="0" />
  <add key="MAINTENANCE_TEXT" value="Aktualnie przeprowadzane są prace na aplikacji." />
  <!-- Id obiektu serwera wersji aktualnej aplikacji-->
  <!-- Poziom logowania wykorzystywany przy logowaniu javascriptowym , możliwe wartości: Fatal,Error,Warning,Info,Debug -->
  <!-- istotny jest rwónież poziom logowania ustawiony w pliku Logger.config -->
  <add key="WEBLOGGER_LEVEL" value="{www.param.error_level_javascript}" />

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  <!--Umożliwia testowanie formularzy na wersjach struktur danych z lokalnymi zmianami i niezakończoną edycją-->
  <!--W przypadku plikowego serwera wersji nie ma sensu-->
  <!--<add key="VersionServerContext:UserIdOverride" value="" />
  <add key="VersionServerContext:WorkspaceOverride" value="" />-->
  <add key="VsfDictionaryLoader" value="CONNECT_STRING" />
  <add key="ProviderVipPassword" value="{common.param.provider_vip_password}" />
  <add key="ProviderVipUser" value="{common.param.provider_vip_user}" />
  <add key="VersionServerContext:UserIdOverride" value="{common.param.versionserver_userid}" />
  <add key="VersionServerContext:WorkspaceOverride" value="{common.param.versionserver_workspace}" />
  <!-- service = generuj dokumenty zdalnie w usłudze VDS, inna wartość = uruchamiaj VDS (word, libre.. ) lokalnie -->
  <add key="VDSGenerationMode" value="service" />
</appSettings>