<behaviors>
  <serviceBehaviors>
    <behavior name="MVC">
      <businessLimits />
    </behavior>
    <behavior name="VBP">
      <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
      <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false">
        <!--VCONFIG httpGetEnabled = {#IsHttps({common.url.webui}) ? 'false' : 'true'}-->
        <!--VCONFIG httpsGetEnabled = {#IsHttps({common.url.webui}) ? 'true' : 'false'}-->
      </serviceMetadata>
      <dataContractSerializer maxItemsInObjectGraph="65536000" />
    </behavior>
  </serviceBehaviors>
  <endpointBehaviors>
    <behavior name="AjaxVBP">
      <enableWebScript />
    </behavior>
    <behavior name="dynamic">
      <DynamicOperation versionTypes="wsm; msm; algorithm; table" />
    </behavior>
    <behavior name="CultureBehavior">
      <CultureEndpointBehavior />
    </behavior>
  </endpointBehaviors>
</behaviors>