<client>
  <endpoint address="{common.url.vip}Services/Account/AuthenticateService.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="AuthenticateServiceReference.IAuthenticateService" name="VipAuthenticateService">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
	<endpoint address="{common.url.vip}Services/Account/AccountService.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="AccountServiceReference.IAccountService" name="VipAccountService">
	  <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
	</endpoint>
  <endpoint address="{common.url.vip}Services/Role/RoleService.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="RoleServiceReference.IRoleService" name="VipRoleService">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.vip}Services/Application/ApplicationServices.svc" binding="clearUsernameBinding" bindingConfiguration="VIPInternalClearUsernameBinding" contract="IApplicationServicesContract" name="VipApplicationServices">
    <!--VCONFIG bindingConfiguration = VIPInternalClearUsernameBinding{#IsHttps({common.url.vip}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.provider_mzu}" binding="basicHttpBinding" bindingConfiguration="MzuServiceBinding" contract="MZUServiceSoap" name="MzuService">
    <!--VCONFIG bindingConfiguration = MzuServiceBinding{#IsHttps({common.url.provider_mzu}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{common.url.webui}/WebServices/EntryPoint.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpEntryPoint" contract="EntryPointService" name="EntryPointService">
    <!--VCONFIG bindingConfiguration = basicHttpEntryPoint{#IsHttps({common.url.webui}) ? 'Secure' : ''}-->
  </endpoint>
  <endpoint address="{transformationservice.url.base}" binding="wsHttpBinding" bindingConfiguration="TransformationServiceBinding" name="TransformationService" contract="ServiceContractSeed">
    <!--VCONFIG bindingConfiguration = TransformationServiceBinding{#IsHttps({transformationservice.url.base}) ? 'Encrypted' : ''}-->
  </endpoint>
  <endpoint address="{vds.url.base}" binding="netTcpBinding" bindingConfiguration="DocumentWcfServiceBinding" contract="VdsHostServiceReference.IDocumentWcfService" name="VdsHostServiceReference.IDocumentWcfService" />
</client>