<connectionStrings>
  <clear />
  <add name="ADConnectionString" connectionString="{common.connection.provider_ad}" />
  <add name="VipConnectionString" connectionString="{common.connection.provider_vip}" providerName="{common.connection.provider_vip.provider}" />
  <add name="CONNECT_STRING" connectionString="{common.connection.db_data}" providerName="{common.connection.db_data.provider}" />
  <add name="VSFE.CONFIG_DB" connectionString="{common.connection.db_config}" providerName="{common.connection.db_config.provider}" />
  <add name="CONNECT_STRING_VERSION_SERVER" connectionString="{common.connection.version_server}" providerName="{common.connection.version_server_provider}" />
</connectionStrings>