<SecurityConfig RedirectWhiteList="" EnableBusinessLimitsFilter="false" RunDiagnosticsMethods="true" ErrorLevel="Normal" CookieSecureOption="SameAsRequest" SecureCookies="__RequestVerificationToken,session_id,app_cookie" SessionAbandonAfterException="False" SessionAbandonAfterAccessViolation="False" SessionFixationPrevention="true" VerifyPageRights="ContextDependent" EncryptQueryString="false" AllowUnencryptedQueryString="true" UrlEncrytpionKey="123434321fgsxcv_" UrlEncryptionInitializationVector="VISION12VISION12" UrlEncryptionHmacKey="jasdfhykjbsadkjfhakjsbfweuiyrsdfnkjsn345e53245hoifhsdhflakhfsdof">
  <!--VCONFIG EnableBusinessLimitsFilter = {www.param.enable_business_limits_filter}-->
  <!--VCONFIG CookieSecureOption = {common.param.secure_cookie}-->
  <!--VCONFIG RunDiagnosticsMethods = {common.param.run_diagnostics_methods}-->
  <!--VCONFIG ErrorLevel = {www.param.security_error_level}-->
  <!--VCONFIG EncryptQueryString = false-->
  <!--VCONFIG AllowUnencryptedQueryString = true-->
  <ControlSecurity>
    <add ControlName="VSoft.BusinessPlatform.Forms.Web.FormControls.TreeView" EncodeContent="true" />
  </ControlSecurity>
</SecurityConfig>