<!--
    container strips free memory
    https://stackoverflow.com/questions/15497296/iis-server-error-because-of-the-current-total-memory/17449862
    also Windows on Developer machines can fulfill memory to 100%
-->
<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
  <serviceActivations>
    <add service="VSoft.archITekt.Core.ServiceModel.DynamicContract.EntryPointService" relativeAddress="./WebServices/EntryPoint.svc" />
    <add service="VSoft.BusinessPlatform.Application.Impl.Services.WebLocalizationClient" relativeAddress="./localization.svc" />
    <add service="VSoft.BusinessPlatform.Application.Impl.Configuration.ApplicationLocalizationLanguageConfigurationProvider" relativeAddress="./WebServices/LanguageConfig.svc" />
    <add service="VSoft.BusinessPlatform.Web.Navigation.NavigationServiceClient" relativeAddress="./WebServices/NavigationService.svc" />
    <add service="VSoft.BusinessPlatform.Web.Navigation.StylesConfigService" relativeAddress="./WebServices/StylesConfig.svc" />
    <add service="VSoft.BusinessPlatform.Web.Navigation.MvcControllersService" relativeAddress="./WebServices/MvcControllersService.svc" />
    <add service="VSoft.BusinessPlatform.Web.Services.WcfConfigService" relativeAddress="./WebServices/WcfConfigService.svc" />
  </serviceActivations>
</serviceHostingEnvironment>