<services>
  <!--
  Aplikacja w sposób automatyczny wykorzystuje ruch szyfrowany lub nie w zależności od tego
  czy zmienna "common.url.webui" wskazuje adres "http" lub "https"
  -->
  <service behaviorConfiguration="VBP" name="VSoft.archITekt.Core.ServiceModel.DynamicContract.EntryPointService">
    <endpoint binding="basicHttpBinding" bindingConfiguration="basicHttpEntryPoint" behaviorConfiguration="dynamic" contract="VSoft.archITekt.Core.ServiceModel.DynamicContract.EntryPointService">
      <!--VCONFIG bindingConfiguration = basicHttpEntryPoint{#IsHttps({common.url.webui}) ? 'Secure' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Application.Impl.Services.WebLocalizationClient">
    <endpoint binding="webHttpBinding" address="web" bindingConfiguration="webHttp" behaviorConfiguration="AjaxVBP" contract="VSoft.BusinessPlatform.Application.Contracts.IApplicationLocalizationClient">
      <!--VCONFIG bindingConfiguration = webHttp{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Application.Impl.Configuration.ApplicationLocalizationLanguageConfigurationProvider">
    <endpoint binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Application.Contracts.Configuration.IApplicationLocalizationLanguageConfiguration">
      <!--VCONFIG bindingConfiguration = HttpBinary{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Web.Navigation.NavigationServiceClient">
    <endpoint binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.INavigationServiceClient">
      <!--VCONFIG bindingConfiguration = HttpBinary{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Web.Navigation.UserImagesService">
    <endpoint binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IUserImagesService">
      <!--VCONFIG bindingConfiguration = HttpBinary{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Web.Navigation.StylesConfigService">
    <endpoint binding="customBinding" bindingConfiguration="HttpBinary" behaviorConfiguration="CultureBehavior" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IStylesConfigService">
      <!--VCONFIG bindingConfiguration = HttpBinary{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Web.Navigation.MvcControllersService">
    <endpoint binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Navigation.Interfaces.IMvcControllersService">
      <!--VCONFIG bindingConfiguration = HttpBinary{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
  <service behaviorConfiguration="VBP" name="VSoft.BusinessPlatform.Web.Services.WcfConfigService">
    <endpoint binding="customBinding" bindingConfiguration="HttpBinary" contract="VSoft.BusinessPlatform.Common.Web.Services.IWcfConfigService">
      <!--VCONFIG bindingConfiguration = HttpBinary{#IsHttps({common.url.webui}) ? 'Encrypted' : ''}-->
    </endpoint>
  </service>
</services>