<appSettings>
  <!-- System time Zone in IANA Standard (or "Local" for using local server time) -->
  <add key="SystemTimeZone" value="{common.param.systemtimezone}" />
  <add key="VersionServerContext:UserIdOverride" value="{common.param.versionserver_userid}" />
  <add key="VersionServerContext:WorkspaceOverride" value="{common.param.versionserver_workspace}" />
  <add key="VSFE.NODE_NAME" value="{#System.Environment.MachineName}_SchedulerWeb" />
  <add key="LOGS_FOLDER" value="{common.param.logs_folder}" />
  <add key="LogRequestWebTimeMs" value="{common.param.log_request_web_time_ms}" />

  <add key="ApplicationName" value="{common.param.environment}" />
  <add key="EnvironmentType" value="{common.param.environment_type}" />

	<!-- Configure Single Sign On using Windows credentials. Allowed values are:
       True: Show SSO link on login page,
       Auto: Skip login page and log in user automaticaly
       False: Disable SSO -->
  <add key="WINDOWS_AUTHENTICATION" value="{www.param.windows_authentication}" />

  <!--AD FS-->
  <add key="ADFS_AUTHENTICATION" value="{common.param.adfs_authentication}" />
  <add key="ADFS_METADATA" value="{common.url.adfs_metadata}" />
  <add key="ADFS_REALM" value="{common.publicurl.scheduler}" />

  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Maximum size of cached CSS & JS file stored in memory cache. Default 10 kB -->
  <add key="MaxCachedFileSize" value="10240" />

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  <add key="vs:EnableBrowserLink" value="false" />

  <add key="schedulerRestApiSecretKey" value="{scheduler.restapi.secretKey}" />
  <add key="schedulerRestApiCertValidation" value="{scheduler.restapi.cert_validation}" />
  <add key="schedulerPermissionsFull" value="{scheduler.designer_access_roles.full}" />
  <add key="schedulerPermissionsReadOnly" value="{scheduler.designer_access_roles.readonly}" />
  <add key="schedulerServiceName" value="{scheduler.name.serviceName}" />
  <add key="schedulerServiceRestApiUrl" value="{scheduler.url.base}/rest" />
	<add key="ProviderVipPassword" value="{common.param.provider_vip_password}" />
	<add key="ProviderVipUser" value="{common.param.provider_vip_user}" />
</appSettings>