<bindings>
	<basicHttpBinding>
    <binding name="MzuServiceBinding">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
    </binding>
    <binding name="MzuServiceBindingSecure">
      <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
      <security mode="Transport" />
    </binding>
  </basicHttpBinding>
	<clearUsernameBinding>
		<binding name="VIPInternalClearUsernameBinding" messageVersion="Soap12" useHttpsTransport="false">
		</binding>
		<binding name="VIPInternalClearUsernameBindingSecure" messageVersion="Soap12" useHttpsTransport="true">
		</binding>
	</clearUsernameBinding>
	<wsHttpBinding>
		<binding name="VipServicesBinding">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			<security mode="None" />
		</binding>
		<binding name="VipServicesBindingSecure">
			<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
			<security mode="Transport" />
		</binding>
	</wsHttpBinding>
</bindings>