<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  
  <extensions>
    <add assembly="VSoft.Framework.Log.NLog" />
  </extensions>
  <variable name="LOGS_FOLDER" value="${whenEmpty:whenEmpty=${basedir}/???:inner=${appsetting:item=LOGS_FOLDER:default=???}}" />
  <variable name="COMPONENT_NAME" value="SchedulerWeb" />
  <variable name="MESSAGE_LAYOUT_FILE" value="~${level:uppercase=true}@${longdate}@${gdc:item=node}:${threadid}@${componentAndLogger}: ${message} ~~ ${exception:format=tostring}~~." />
  <variable name="MESSAGE_LAYOUT_CONSOLE" value="[${level:uppercase=true}]&#x9;${date:format=HH\:mm\:ss.fff}  ${logger} - ${message} ${exception:format=tostring}" />
  <variable name="MESSAGE_LAYOUT_EVENT_LOG" value="${var:COMPONENT_NAME} (${basedir})${newline}${level:uppercase=true} (node: ${gdc:item=node}, thread: ${threadid}, component: ${componentAndLogger})${newline}${message}${newline}${exception:format=tostring}" />
  <variable name="MESSAGE_LOG_CONTEXT" value="" />
  <variable name="MESSAGE_LOG_CONTEXT_DATA" value="" />

  <include file="NLog.Common" />

  <rules>
    <!-- Emergency logging of everything to a local file -->
    <!-- <logger minlevel="Trace" writeTo="bufferedFile" name="*" /> -->

    <!-- FILE -->
    <logger minlevel="Info" maxlevel="Warn" writeTo="bufferedFile" name="Diagnostic" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="bufferedFile" name="License" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="bufferedFile" name="MEF" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="bufferedFile" name="RequestTime" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="bufferedFile" name="VSFData" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="bufferedFile" name="VSFE" />
    <logger minlevel="Error" maxlevel="Fatal" writeTo="bufferedFile" name="*" />
    <logger minlevel="Error" maxlevel="Fatal" writeTo="bufferedFileErrors" name="*" />

    <!-- DB -->
    <logger minlevel="Info" maxlevel="Warn" writeTo="dboLogsDatabaseAsync" name="Diagnostic" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="dboLogsDatabaseAsync" name="License" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="dboLogsDatabaseAsync" name="MEF" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="dboLogsDatabaseAsync" name="RequestTime" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="dboLogsDatabaseAsync" name="VSFData" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="dboLogsDatabaseAsync" name="VSFE" />
    <logger minlevel="Error" maxlevel="Fatal" writeTo="dboLogsDatabaseAsync" name="*" />

    <!-- CONSOLE -->
    <logger minlevel="Info" maxlevel="Warn" writeTo="console" name="Diagnostic" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="console" name="License" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="console" name="MEF" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="console" name="RequestTime" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="console" name="VSFData" />
    <logger minlevel="Info" maxlevel="Warn" writeTo="console" name="VSFE" />
    <logger minlevel="Error" maxlevel="Fatal" writeTo="errorStreamConsole" name="*" />
  </rules>
</nlog>