<SecurityConfig RedirectWhiteList="" EnableBusinessLimitsFilter="false" RunDiagnosticsMethods="true" ErrorLevel="Normal" CookieSecureOption="SameAsRequest" SecureCookies="__RequestVerificationToken,session_id,app_cookie,token">
  <!--VCONFIG EnableBusinessLimitsFilter = {www.param.enable_business_limits_filter}-->
  <!--VCONFIG CookieSecureOption = {common.param.secure_cookie}-->
  <!--VCONFIG RunDiagnosticsMethods = {common.param.run_diagnostics_methods}-->
  <!--VCONFIG ErrorLevel = {www.param.security_error_level}-->
</SecurityConfig>